<template>
  <div class="page-content ckv">
    <div class="header mb-3 vak-banner">
      <h1 class="m-0 p-2 text-white font-weight-bold text-uppercase">
        {{ $route.params.vak }}
      </h1>
    </div>
    <section class="container-fluid">
      <div class="row">
        <div class="col-8 p-0 mb-3">
          <PresentationMap></PresentationMap>
        </div>
        <div class="col-4 p-0 mb-3">
          <Assignments class="mb-3"></Assignments>
          <Announcements></Announcements>
        </div>
        <div class="col-8 p-0">
          <TurnIn></TurnIn>
        </div>
        <div class="col-4 p-0">
          <activities></activities>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PresentationMap from '~/components/PresentationMap'
import Assignments from '~/components/Assignments'
import Announcements from '~/components/Announcements'
import TurnIn from '~/components/TurnIn'
import Activities from '~/components/Activities'

export default {
  layout: 'afterLogin',
  head() {
    return {
      title: `Kunstfolio - ${this.classCode.toUpperCase()}`
    }
  },
  components: {
    PresentationMap,
    Assignments,
    Announcements,
    TurnIn,
    Activities
  },
  data() {
    return {
      classCode: this.$route.params.vak
    }
  }
}
</script>
