html, body, #__nuxt, #__layout, .parent-container {
  min-height: 100% !important;
  height: 100%;
  background-color: #E5E9EC;
}

.content {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex-grow: 1;
  overflow-y: auto;
}

.new-notify {
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 8px;
  background-color: #3bc2af;
  color: white !important
}

.banner {
  background-image: url("../img/banner.png");
  background-size: cover;
  padding-left: 0.5em;
}

.presmap-banner {
  @extend .banner;

  background-image: url("../img/presmap_banner.png");
}

.vak-banner {
  @extend .banner;

  background-image: url("../img/vak_banner.png");
}

.carousel-inner {
  height: 51.3vh;
}

.status-bol {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 5px;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.purple {
  color: $purple;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.status-text {
  border-radius: 10px;
  padding: 4px 10px;
  font-size: 14px;
}

.status-good {
@extend .status-text;

color: $green;
border: 1px solid $green;
}

.status-bad {
@extend .status-text;

color: $red;
border: 1px solid $red;
}

.status-proc {
@extend .status-text;

color: $blue;
border: 1px solid $blue;
}

.status-sent {
@extend .status-text;

color: white;
background-color: grey;
border: 1px solid grey;
}

.ckv {
  .carousel-inner {
    height: 51.3vh;
  }
}

.caps {
  text-transform: uppercase;
  color: red;
  font-weight: 600;
}

.experience-text {
  padding-left: 15px;
  color: grey;
}

.tab-pane {
  outline: 0 !important;
}


.form-control-file {
  display: none;
}

.disable {
  cursor: not-allowed;
  opacity: 0.3;
}
