
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0A8CD7;
$indigo: #6574cd;
$purple: #755C8B;
$pink: #f66D9b;
$red: #F15656;
$orange: #f6993f;
$yellow: #FCEE02;
$green: #27A59B;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #8C9096;
