@import 'variables';
@import 'globals';
@import 'components/Navbar';
@import 'components/Sidebar';

@import 'components/moduleBase';

@import 'components/TurnInModal';
@import 'components/Announcements';
@import 'components/Login';
@import 'components/Assignments';
@import "components/Interests";
@import 'components/Skill';
@import 'components/Calendar';
@import 'components/Settings';
@import 'components/Activities';
@import 'components/Preview';
@import 'components/Beeldmateriaal';
@import 'components/Assessments';
@import 'components/Contact';
@import 'components/Motivatie';
@import "components/Calendar";

html, body, #__nuxt, #__layout, .parent-container {
  min-height: 100% !important;
  height: 100%;
}

