.activities {
  background-color: #0890DA;
  color: rgba(54, 54, 54, 0.589);
  font-weight: 600;

  .map {
      background-image: url('https://cdn.discordapp.com/attachments/545238070145056781/570587736474517514/unknown.png');
      overflow: hidden;
      background-size: cover;
      height: 459px;
  }

  .info {
      background-color: #0572AB;

    .marker-tekst {
      color: white;
      font-size: 13px;
      font-weight: 400;
      margin: 16px 0;
      padding: 0 15px;
    }

    .activity-log {
      color: black;
      list-style: none;
      border-bottom: 1px solid grey;
      font-size: 14px;
    }

    .activity-photo {
      width: 110px;
      margin-bottom: 20px;
    }
  }
}
  
  
  
  
  