.announcements {
  background-color: #1b1e25;
  color: white;
  .card-content {
    //padding: 0;
    font-size: .9em;
    .announce-heading {
      margin-bottom: 0;
      padding: .5em 1em;
      border-bottom: 1px solid rgba(76, 80, 89, 0.51);
    }
    .announce-item {
      filter: grayscale(100%) opacity(0.4) brightness(100%);
      a {
        padding: .5em 1em;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        height:100%;
      }
    }
    .announce-item a:hover {
      text-decoration: none !important;
    }
    .announce-item:hover {
      filter: none;
      background-color: #2c333b;
      color: white !important;
      text-decoration: none !important;
    }
  }
}

.date {
  color: gray;
}
.BV {
  background-color: #20c997;
  color: white;
  border-radius: 0px;
}
.KUA {
  background-color: #fcee02;
  border-radius: 0px;
}
.CKV {
  background-color: #755c8b;
  color: white;
  border-radius: 0px;
}
.MU {
  background-color: #f15656;
  color: white;
  border-radius: 0px;
}
.DR {
  background-color: #0a8cd7;
  color: white;
  border-radius: 0px;
}
