.assignments {
  .card-header {
    box-shadow: 0 0 0 0;
    .card-title {
      padding: 5px 20px;
      text-transform: uppercase;
      opacity: 0.5;
      width: 100%;
      .customFunctionButton {
        margin-right: 5px;
      }
      .action-buttons {
        float: right;
      }
    }
  }
  .assignment-status {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .no-deadline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .active {
    border: #00b89c 1px solid;
    border-radius: 10px;
    color: #00b89c;
  }

  .hidden {
    display: none;
    box-shadow: none !important;
  }
  /*---------------------------*/

  hr {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .assignment {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .assignment:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }

  .assignment-afgerond .assignment {
    color: #b4b4b4 !important;
    text-decoration: none;
  }

  .assignment-afgerond:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }

  .titleSmall {
    float: left;
    position: relative;
    top: -0.5em;
    color: rgba(0, 0, 0, 0.5);
  }

  .customFunctionButton {
    width: 1em;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
  }
  .customFunctionButton:hover {
    color: black;
  }

  .className {
    color: #00b89c;
  }

  .customButton {
    cursor: pointer;
    margin: 1em;
    position: relative;
    top: -0.5em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .card-header {
    background-color: #814261;
    color: white;
  }
}
