.material {
  .card-header {
    box-shadow: 0 0 0 0;
    background-color: #814261;
    color: white;
    padding: 5px 0;

    .card-title {
      padding: 5px 20px;
      text-transform: uppercase;
      width: 100%;
    }
  }

  .controls {
      width: 100%;
      display: flex;
      background-color: #F2ECF0;
      color: grey;

      .dropdowns {
          padding: 10px 25px;
          width: 25%;
          color: grey;
          border-bottom: 1px solid white;
          border-right: 1px solid white;

          &:last-child {
              border-right: none;
          }
      }

      i {
        margin-left: -20px;
        margin-top: 15px;
      }
  }

  .mat-row {
      display: flex;
      flex-wrap: wrap;
      margin-right: 0;
      margin-left: 0;
      margin-top: 15px;

      &:last-child {
          margin-bottom: 15px;
      }
  }

  .material-card-item {
    display: flex;
    word-wrap: normal;
    border: white solid 1px;
    background-color: #aaaaaa;
    text-align: center;
    height: 180px;
    padding: 0;

    .material-text {
      align-self: flex-end;
      background-color:rgba(255, 255, 255, 0.7);
      font-weight: 700;
      margin: 0;
      width: 100%;
      color: black;
    }
  }

  .upload {
      float: right;
      background-color: #B48DA0;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      padding: 10px 28px;
      margin: -5px -15px 0 0;
  }
}
