.calendar {
  p:not(:last-child) {
    margin: 0 0 20px;
  }

  main {
    max-width: 800px;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  section {
    display: none;
    border-top: 1px solid #abc;
    background-color: #00b89c;
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 5px;
    font-weight: 600;
    text-align: center;
    color: #abc;
  }

  .tablabel {
    background-color: $gray;
    display: block;
    border-radius: 80%;
    height: 1em;
    width: 1em;
    display: inline-block;
    margin: 0 0 -1px;
    font-weight: 600;
    text-align: center;
    color: #abc;
    cursor: pointer;
  }

  .green,
  .bv,
  .bv input:checked + label {
    background-color: $green;
  }
  .yellow,
  .kua,
  .kua input:checked + label {
    background-color: $yellow;
    input:checked + label, section{
      border-top: 1px solid #aeaeae;

      border-left: 1px solid #aeaeae;
      border-right: 1px solid #aeaeae;
    }
    section {
      border-bottom: 1px solid #aeaeae;

    }
    //same ones
    th, td { color: black;
    }
    color: black;
    section {
      border-top: 1px solid #aeaeae;
    }

  }
  .purple,
  .ckv,
  .ckv input:checked + label {
    background-color: $purple;
  }
  .red,
  .mu,
  .mu input:checked + label {
    background-color: $red;
  }
  .blue,
  .dr,
  .dr input:checked + label {
    background-color: $blue;
  }

  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }

  label:hover {
    color: #789;
    cursor: pointer;
  }

  input:checked + label {
    color: white;
    background-color: #00b89c;
    //border-left: 1px solid darken;
    //border-right: 1px solid darken;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: block;
  }

  @media screen and (max-width: 800px) {
    label {
      font-size: 0;
    }
    label:before {
      margin: 0;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 500px) {
    label {
      padding: 15px;
    }
  }

  /*----*/

  p {
    text-align: center;
    margin: 20px 0 60px;
  }

  main {
    background-color: #2c3845;
  }

  h1 {
    text-align: center;
    font-weight: 300;
  }

  table {
    display: block;
  }

  tr,
  td,
  tbody,
  tfoot {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    padding-bottom: 10px;
  }

  td {
    color: white;
    padding: 10px 10px 0;
    text-align: center;
  }

  td:before {
    content: attr(data-title);
    color: #7a91aa;
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-right: 10px;
    display: block;
  }

  table {
    width: 100%;
  }

  th {
    text-align: left;
    font-weight: 700;
  }

  thead th {
    /*background-color: #202932;*/
    color: #fff;
    /*border: 1px solid #202932;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }

  tfoot th {
    display: block;
    padding: 10px;
    text-align: center;
    color: #b8c4d2;
  }

  @media (min-width: 460px) {
    td {
      text-align: left;
    }
    td:before {
      display: inline-block;
      text-align: right;
      width: 140px;
    }
  }
  @media (min-width: 720px) {
    table {
      display: table;
    }

    tr {
      display: table-row;
    }

    td,
    th {
      display: table-cell;
    }

    tbody {
      display: table-row-group;
    }

    thead {
      display: table-header-group;
    }

    tfoot {
      display: table-footer-group;
    }

    /*td {*/
    /*  border: 1px solid #28333f;*/
    /*}*/
    td:before {
      display: none;
    }

    td,
    th {
      padding: 7px;
    }

    /*tr:nth-child(2n + 2) td {*/
    /*  background-color: #242e39;*/
    /*}*/

    tfoot th {
      display: table-cell;
    }
  }
}
