.contact {
    .card-header {
      box-shadow: 0 0 0 0;
      background-color: #FD535C;
      color: white;
      padding: 5px 0;
  
      .card-title {
        padding: 5px 20px;
        text-transform: uppercase;
        width: 100%;
      }
    }

    .contact-row {
        display: flex;

        i {
            margin-right: 10px;
            font-size: 25px;
        }
    }
}
  