.interests {
  background-color: #eb595a;
  color: white;
  .interest {
    text-align: center;
    .img-interests {
      background-color: #e87c7c;
      height: 95px;
      width: 95px;
      border-radius: 100%;
    }
    .text-interest {
      color: white;
      margin-bottom: 0;
      width: 100%;

      @media only screen and (max-device-width: 1600px) {
        font-size: 12px;
      }
    }
  }
}
