.module {
  margin: 0 10px;
  height: 100%;
  .card-header {
    box-shadow: 0 0 0 0;
    padding: 5px !important;
    .card-title {
      padding: 5px 20px;
      text-transform: uppercase;
      opacity: 0.5;
      width: 100%;
      i {
        margin-right: 5px
      }
      .action-buttons {
        float: right;
      }
    }
  }
}
