.motivatie {
  max-height: 500px;

  .filled-motivation {
      opacity: 0.6;
  }

  .download {
    background-color: grey;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 auto;
  }

  p {
    padding: 15px 15px 0 15px;
    margin: 0;
  }

  .gradient {
    width: 100%;
    height: 2em;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: linear-gradient(to bottom, rgba(229,229,229,0) 0%,rgba(229,229,229,0.08) 8%,rgba(255,255,255,1) 100%);
  }
}