.content {
  flex: 10;
}
.navbar {
  padding: 0;
  height: 60px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  .nav-item {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-link {
      position: relative;
      padding: 0 !important;
      font-size: 1.25em !important;
    }
  }
  .badge {
    position: absolute;
    bottom: 5px;
    right: -5px;
    padding: 1px;
    height: 10px;
    width: 10px;
    color: transparent;
    border-radius: 50%;
    background: red;
  }
  .profile-badge {
    position: absolute;
    bottom: 2.5px;
    right: 0px;
    padding: 1px;
    height: 10px;
    width: 10px;
    color: transparent;
    border-radius: 50%;
    background: green;
    border: 1px solid white;
  }
  .nav-item::after {
    display: none;
  }

}

.status {
  height: 10px;
  width: 10px;
}

.date {
  color: gray;
}
.BV {
  background-color: #20c997;
  color: white;
  border-radius: 0px;
}
.KUA {
  background-color: #fcee02;
  border-radius: 0px;
}
.CKV {
  background-color: #755c8b;
  color: white;
  border-radius: 0px;
}
.MU {
  background-color: #f15656;
  color: white;
  border-radius: 0px;
}
.DR {
  background-color: #0a8cd7;
  color: white;
  border-radius: 0px;
}
