.display-image {
    height: 51vh;
    background-image: url("http://en.es-static.us/upl/2016/06/sunset-beach-NW-England-Adrian-Strand-lg-e1480508948619.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;

    .display-title {
        padding-top: 20px;
    }

    .display-title,
    .display-text {
        margin-bottom: 0;
        background-color: white;
        opacity: 0.6;
        padding-left: 20px;

        &:last-child {
            padding-bottom: 20px;
        }
    }
}

.preview-small {
    height: 17vh;
    background-color: #CFDBDB;
    background-image: linear-gradient(#CFDBDB, #E2EBEA);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-box-shadow: 0px 20px 28px -34px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 28px -34px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 28px -34px rgba(0,0,0,0.75);

    .preview-image img {
        width: 180px;
        height: 120px;
        margin: 20px;
    }

    .preview-text {
        margin-top: 20px;

        span {
          text-transform: uppercase;
        }
        p {
            margin-bottom: 0;
        }
    }
}