.profile-upload {
    margin-left: 25px;
    font-size: 20px;
}
.submitbutton:disabled{
    background-color: cornflowerblue;
    border-color: gray;
    color: lightgrey;
}
.error{
    border-color: indianred;
}
.profilepicture{
    width: 250px;
    height: 250px;
}
.vee-error{
    color: $red;
}