.sidebar {
  background-color: #1a1d24;
  flex: 2;
  height: 95vh;

  .disabled {
    cursor: crosshair !important;
    opacity: 0.4;
    pointer-events: none;
  }

  .header {
    background-color: #2c333d;
    height: 60px;
    display: flex;
    justify-content: space-between;

    .brand {
      color: white;
      font-weight: 300;
    }

    .buttons {
      height: 2em;
      display: flex;

      .control-button:hover {
        background-color: #3a404b;

        a {
          color: white !important;
        }
      }

      .button {
        color: white;
        height: 2em;
        width: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1a1d24;
      }
    }
  }

  .profile-container {
    width: 300px !important;
    display: flex;
    justify-content: flex-start;

    .user-profile-image {
      height: 5em;
      width: 5em;
      display: flex;
      justify-content: center;
      align-items: center;

      .profile-image {
        position: relative;
        padding: 0 !important;
        font-size: 1.25em !important;
      }
    }

    .profile-details {
      flex-wrap: wrap;

      .profile-name {
        color: white;
        font-size: 18px;
        width: 100%;
      }

      .profile-action {
        color: grey;
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }

  .sidebar-items {
    .sidebar-item {
      display: flex;
      justify-content: flex-start;
      color: grey;

      .sidebar-link {
        text-decoration: none;
        color: grey;
        width: 100%;

        &:hover {
          text-decoration: none;
          color: grey;
        }
      }

      .side-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-size: 16px;

        .card-text {
          margin-bottom: 0;
          display: flex;
          align-items: center;
        }
      }
    }

    .sidebar-item:hover {
      background-color: #21252d;

      .sidebar-link {
        color: white !important;
      }
    }

    .card-body {
      padding: 0;
    }

    .sub-sidebar-link {
      color: grey !important;
      width: 20em !important;
      height: 100% !important;
    }

    .sub-sidebar-item:hover {
      background-color: #21252d;

      .sub-sidebar-link {
        color: white !important;
      }
    }
  }
}

.sb-pattern {
  background-image: url('../img/sidebar.png');
  background-size: cover;
  background-position: bottom;
}

.footer {
  background-color: #23282e;
  height: 5vh;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 0.6em;

  .buttons {
    height: 2em;
    display: flex;

    .button {
      color: white;
      height: 2em;
      width: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1a1d24;
    }
  }
}
