.skill {
  .card-header {
    box-shadow: 0 0 0 0;
    background-color: #5e426b;
    color: white;

    .card-title {
      padding: 5px 20px;
      text-transform: uppercase;
      opacity: 0.5;
      width: 100%;

      .customFunctionButton {
        margin-right: 5px;
      }

      .action-buttons {
        float: right;
      }
    }
  }

  .selectors {
    p {
      font-weight: bold;
    }
    span {
      color: gray;
      font-weight: normal;
    }
  }

  .skill-progress-bar {
    background-color: #9065a4;
    span{
      padding-left: 1em;
    }
  }
  .skill-progress {
    padding-left: 0;
    padding-right: 0;
    border: 1px white solid;
    background-color: #5e426b;
    color: white;
    border-radius: 0;
  }
  .skill-card-item {
    word-wrap: normal;
    color: white;
    border: #ffffff solid 1px;
    background-color: #aaaaaa;
    //margin: 1em;
    font-size: 60%;
    //background-color: grey;
    text-align: center;
    .skill-text {
      //margin: auto;
      position: relative;
      padding-top: 1em;
    }
    i {
      padding-top: 0.2em;
      position: inherit;
      font-size: 500%;
      text-align: center;
    }
  }
}
.skill-edit-container{
  margin-left: 30px;
}
// Animation Keyframes
@-webkit-keyframes bar-fill {
  0% {
    width: 0;
  }
}

@keyframes bar-fill {
  0% {
    width: 0;
  }
}

// radio buttons
$radioSize: 22px;
$radioBorder: #D1D7E3;
$radioActive: #5D9BFB;

.radio {
  margin: 8px 0;
  display: block;
  cursor: pointer;
  input {
    display: none;
    & + span {
      line-height: $radioSize;
      height: $radioSize;
      padding-left: $radioSize;
      display: block;
      position: relative;
      &:not(:empty) {
        padding-left: $radioSize + 8;
      }
      &:before,
      &:after {
        content: '';
        width: $radioSize;
        height: $radioSize;
        display: block;
        border-radius: 50%;
        left: 0;
        top: 0;
        position: absolute;
      }
      &:before {
        background: $radioBorder;
        transition: background .2s ease, transform .4s cubic-bezier(.175, .885, .32, 2);
      }
      &:after {
        background: #fff;
        transform: scale(.78);
        transition: transform .6s cubic-bezier(.175, .885, .32, 1.4);
      }
    }
    &:checked + span {
      &:before {
        transform: scale(1.04);
        background: $radioActive;
      }
      &:after {
        transform: scale(.4);
        transition: transform .3s ease;
      }
    }
  }
  &:hover {
    input {
      & + span {
        &:before {
          transform: scale(.92);
        }
        &:after {
          transform: scale(.74);
        }
      }
      &:checked + span {
        &:after {
          transform: scale(.4);
        }
      }
    }
  }
}
