.TurnInModal {
  .action_button {
    cursor: pointer;
  }
  textarea {
    height: 100%;

  }
  .opdrachtImage {
    width: 100%;
  }

  .flex-vert {
    display: flex;
    flex-direction: column;
  }

  .vert-block {
    height: 50%;
  }

  .assignmentImage {
    position: relative;

    .actionBar {
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      background-color: rgba(255, 255, 255, 0.8);
      justify-content: space-between;
      vertical-align: center;

      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
      }

      .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        height: 40px;
        width: 2em;
      }
      button {
        color: black !important
      }
    }
  }

  .tab-container {
    .parent-text-container {
      height: 15em;
    }

    .nav-tabs {
      background-color: #dee2e6;
    }

    .nav-tabs .nav-link {
      border-radius: 0;
      border: 0;
      color: gray;
    }

    .tab-content {
      margin-top: 0 !important;
      padding: 1em;
    }

    .header-text {
      border-bottom: 1px solid #dee2e6
    }

    .text-container {
      height: 100%;
      overflow-y: auto;

      .tab-text {
        font-size: .8em;
        color: #8b8f93;

      }

      .tab-header-text {
        font-size: .9em;
        margin-bottom: 0;
      }
    }

    .grade {
      font-size: 5em;

      .sub-grade {
        font-size: .7em;
      }
    }
  }

  .modal-content {
    border: none;
  }

  .modal-header {
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    width: 100%;
    border-radius: 0;
  }

  .close {
    z-index: 10;
    color: black;
    opacity: .5;
  }

  .modal-body {
    padding: 0;
    border-radius: 0;
  }

  .row {
    height: 100%;
  }

  .modal-footer {
    border-top: 0;
    padding: 0;
    background-color: #0572ab;
    border-radius: 0;

    button {
      color: rgba(255, 255, 255, 0.5);
    }

    button:hover {
      background-color: #68aacd;
      color: white;
    }
  }
}
