<template>
  <div style="height: 521px">
    <div class="module activities card">
      <div class="card-header">
        <div class="card-title mb-0">
          Culturele Activiteiten
        </div>
      </div>
      <div class="card-content" style="height: 521px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-8 map"></div>
            <div class="col-4 info p-0">
              <div class="marker-tekst">
                <i class="fas fa-map-marker-alt"></i>
                8 activiteiten, Almelo
              </div>
              <ul
                class="list-unlisted"
                style="padding-left: 0; background-color: white;"
              >
                <li class="activity-log p-3">
                  <a href="#">
                    <div class="side-item">
                      <div no-body class="w-100">
                        <header>
                          <a
                            v-b-toggle.accordion-2
                            block
                            href="#"
                            variant="info"
                          >
                            <span>Theater Hof88</span>
                          </a>
                        </header>
                        <b-collapse
                          id="accordion-2"
                          accordion="my-accordion"
                          role="tabpanel"
                          style="color: grey; font-size: 12px;"
                        >
                          <b-card-body>
                            <img
                              class="activity-photo"
                              src="../assets/img/movie.jpg"
                            />
                            <span>
                              Elizabethof 4
                            </span>
                            <span>
                              7607 AD Almelo
                            </span>
                          </b-card-body>
                        </b-collapse>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="activity-log p-3">
                  <a href="#">
                    <div class="side-item">
                      <div no-body class="w-100">
                        <header>
                          <a
                            v-b-toggle.accordion-3
                            block
                            href="#"
                            variant="info"
                          >
                            <span>Galerie Groeneveld</span>
                          </a>
                        </header>
                        <b-collapse
                          id="accordion-3"
                          accordion="my-accordion"
                          role="tabpanel"
                          style="color: grey; font-size: 12px;"
                        >
                          <b-card-body>
                            <img
                              class="activity-photo"
                              src="../assets/img/movie.jpg"
                            />
                            <span>
                              Galeriestraat 12
                            </span>
                            <span>
                              7604 LK Almelo
                            </span>
                          </b-card-body>
                        </b-collapse>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="activity-log p-3">
                  <a href="#">
                    <div class="side-item">
                      <div no-body class="w-100">
                        <header>
                          <a
                            v-b-toggle.accordion-4
                            block
                            href="#"
                            variant="info"
                          >
                            <span>Kunstroute</span>
                          </a>
                        </header>
                        <b-collapse
                          id="accordion-4"
                          accordion="my-accordion"
                          role="tabpanel"
                          style="color: grey; font-size: 12px;"
                        >
                          <b-card-body>
                            <img
                              class="activity-photo"
                              src="../assets/img/movie.jpg"
                            />
                            <span>
                              Heldenhof 12
                            </span>
                            <span>
                              7600 XY Almelo
                            </span>
                          </b-card-body>
                        </b-collapse>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="activity-log p-3">
                  <a href="#">
                    <div class="side-item">
                      <div no-body class="w-100">
                        <header>
                          <a
                            v-b-toggle.accordion-5
                            block
                            href="#"
                            variant="info"
                          >
                            <span>Beeldentuin</span>
                          </a>
                        </header>
                        <b-collapse
                          id="accordion-5"
                          accordion="my-accordion"
                          role="tabpanel"
                          style="color: grey; font-size: 12px;"
                        >
                          <b-card-body>
                            <img
                              class="activity-photo"
                              src="../assets/img/movie.jpg"
                            />
                            <span>
                              Heldenhof 12
                            </span>
                            <span>
                              7600 XY Almelo
                            </span>
                          </b-card-body>
                        </b-collapse>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="activity-log p-3">
                  <a href="#">
                    <div class="side-item">
                      <div no-body class="w-100">
                        <header>
                          <a
                            v-b-toggle.accordion-6
                            block
                            href="#"
                            variant="info"
                          >
                            <span>Cultuurhuis</span>
                          </a>
                        </header>
                        <b-collapse
                          id="accordion-6"
                          accordion="my-accordion"
                          role="tabpanel"
                          style="color: grey; font-size: 12px;"
                        >
                          <b-card-body>
                            <img
                              class="activity-photo"
                              src="../assets/img/movie.jpg"
                            />
                            <span>
                              Heldenhof 12
                            </span>
                            <span>
                              7600 XY Almelo
                            </span>
                          </b-card-body>
                        </b-collapse>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Activities'
}
</script>
