<template>
  <div>
    <div class="module announcements card">
      <div class="card-header">
        <div class="card-title mb-0">
          Mededelingen
        </div>
      </div>
      <div class="card-content">
        <p class="announce-heading">Deze week</p>
        <ul class="list-unstyled">
          <div v-for="value in announcements" :key="value.id">
            <li
              v-for="announcement in value.announcements"
              :key="announcement.id"
              class="announce-item"
            >
              <a
                v-b-modal.announcement-modal
                href="#"
                @click="setAnnouncementModal(value)"
              >
                <span class="announce-item-text">
                  <span
                    class="className"
                    :style="{ color: value.class_color }"
                    >{{ value.class_code }}</span
                  >
                  - <strong>{{ announcement.title }}</strong>
                  <span v-if="announcement.created_at">{{
                    announcement.created_at
                  }}</span>
                </span>
                <i class="fas fa-caret-right"></i>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <b-modal
      id="announcement-modal"
      ok-only
      :title="classCode"
      size="xl"
      style="background-color: #00b89c"
      :header-class="classCode"
      footer-class="date"
    >
      <div v-if="announcementData !== null">
        <span v-if="announcementData.title !== null" style="font-size: 3em">
          {{ announcementData.title }}
        </span>
        <pre v-if="announcementData.description !== null">{{
          announcementData.description
        }}</pre>
      </div>
      <div slot="modal-footer">
        <span style="vertical-align: bottom; float: right;"
          ><span style="font-weight: lighter">Ingevoerd: </span
          ><span v-if="created_at">{{ created_at }}</span>
        </span>
      </div>
    </b-modal>
  </div>
</template>
<script>
export default {
  data() {
    return {
      announcements: null,
      announcementData: null,
      classCode: null,
      classColor: null,
      created_at: null
    }
  },
  created() {
    this.$axios.setHeader(
      'Authorization',
      'Bearer ' + this.$cookies.get('user').access_token
    )
    this.$axios.get('/announcements').then(data => {
      this.announcements = data.data
    })
  },
  methods: {
    setAnnouncementModal(value) {
      this.announcementData = value.announcements[0]
      // eslint-disable-next-line
      this.classCode = value['class_code']
      // eslint-disable-next-line
      this.classColor = value['class_color']
      // eslint-disable-next-line
      this.classColor = value['class_color']
      // eslint-disable-next-line
      this.created_at = value.announcements[0]['created_at']
    }
  }
}
</script>
