<template>
  <div class="module assessments card">
    <div class="card-header">
      <div class="card-title mb-0">
        Beoordelingen
      </div>
    </div>
    <div class="card-content p-3 pt-4">
      <div
        class="controls d-flex mb-3"
        style="justify-content: flex-start; border-bottom: 1px solid rgba(0,0,0,0.2); color: rgba(0,0,0,0.5); font-size: 15px"
      >
        <p class="mb-1 font-weight-bold">
          Cijfers
        </p>
      </div>
      <assessment-chart
        :chartdata="chartData"
        :options="options"
      ></assessment-chart>
    </div>
  </div>
</template>
<script>
import AssessmentChart from '~/components/AssessmentChart'
export default {
  components: {
    AssessmentChart
  },
  data() {
    return {
      chartData: {
        labels: ['2012', '2013', '2014', '2015', '2016'],
        datasets: [
          {
            label: 'BV',
            backgroundColor: '#27A59B',
            data: [3, 6, 6.7, 8, 9]
          },
          {
            label: 'KUA',
            backgroundColor: '#FCEE02',
            data: [5, 8.9, 5.6, 7, 4]
          },
          {
            label: 'CKV',
            backgroundColor: '#755C8B',
            data: [5, 4, 9, 7.7, 3.5]
          },
          {
            label: 'MU',
            backgroundColor: '#F15656',
            data: [6, 8, 8.9, 7.9, 4.6]
          },
          {
            label: 'DR',
            backgroundColor: '#0A8CD7',
            data: [5, 8, 8, 7, 9.6]
          }
        ]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [
            {
              gridLines: {
                drawOnChartArea: false
              }
            }
          ],
          yAxes: [
            {
              type: 'linear',
              ticks: {
                beginAtZero: true,
                min: 0,
                max: 10,
                stepSize: 2
              },
              gridLines: {
                drawOnChartArea: false
              }
            }
          ]
        },
        legend: {
          position: 'right'
        }
      }
    }
  }
}
</script>
