<template>
  <div>
    <inleveren-modal
      :payload="activeAssignment"
      :assignment-user="assignmentUser"
      :teacher-grading="teacherGrading"
      :modal-id="modalId"
    >
    </inleveren-modal>
    <div class="module assignments card">
      <div class="card-header">
        <div class="card-title mb-0">
          <span>What to do</span>
        </div>
      </div>
      <div class="card-content" :class="[showWhatToDo ? '' : 'hidden']">
        <div
          class="d-flex justify-content-between pt-3 mx-3 assignment-status"
        ></div>
        <ul class="list-unstyled" :class="[tab === 'actief' ? '' : 'hidden']">
          <div v-for="classInfo in assignments" :key="classInfo.id">
            <li
              v-for="assignment in classInfo.assignments"
              :key="assignment.id"
              v-b-modal.turnInModal
              class="assignment px-3 py-2"
              @click="setActive(classInfo, assignment)"
            >
              <a class="assignment">
                <i class="fas fa-file-alt customIcon"></i>
                <span class="assignmentText">
                  <span
                    class="className"
                    :style="{ color: classInfo.class_color }"
                    >{{ classInfo.class_code }}</span
                  >
                  - <strong>{{ assignment.assignment_title }}</strong>
                  {{ assignment.deadline_date }}
                </span>
              </a>
            </li>
          </div>
        </ul>
        <ul
          v-if="assignments.isActive"
          class="list-unstyled"
          :class="[tab === 'afgerond' ? '' : 'hidden']"
        >
          <li
            v-for="assignment in assignments"
            :key="assignment.id"
            class="assignment-afgerond px-3 py-2"
          >
            <a class="assignment" href="#">
              <i class="fas fa-file-alt customIcon"></i>
              <span class="assignmentText">
                <span class="className">{{ assignment.class }}NL</span> -
                <strong>{{ assignment.title }}Opdracht 1: Mindmap</strong>
                {{ assignment.deadline }} 29 februari 2021
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import InleverenModal from '~/components/InleverenModal'
export default {
  components: {
    InleverenModal
  },
  data() {
    return {
      modalId: 'turnInModal',
      tab: 'actief',
      showWhatToDo: 'true',
      assignments: [],
      activeAssignment: {
        classInfo: {},
        assignmentInfo: {
          assignment_title: 'placeholder'
        }
      },
      assignmentUser: {
        user_upload: null
      },
      teacherGrading: {
        feedback: null,
        grade: null
      }
    }
  },
  created() {
    this.$axios.setHeader(
      'Authorization',
      'Bearer ' + this.$cookies.get('user').access_token
    )
    this.$axios.get('/assignments').then(data => {
      this.assignments = data.data
    })
  },
  methods: {
    setActive(classInfo, assignmentInfo) {
      // eslint-disable-next-line no-console
      this.activeAssignment.assignmentInfo = assignmentInfo
      this.activeAssignment.classInfo = classInfo
      this.getUserAssignment(assignmentInfo.id)
    },
    getUserAssignment(assignmentKey) {
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('user').access_token
      )
      this.$axios.get('/users/assignment/' + assignmentKey).then(response => {
        this.assignmentUser = response.data.user_assignment
        if (response.data.teacher_assignment != null) {
          // eslint-disable-next-line no-console
          this.teacherGrading = response.data.teacher_assignment
        } else {
          this.teacherGrading = {}
        }
      })
    }
  }
}
</script>
