<template>
  <div class="col-sm-8">
    <div class="material card">
      <div class="card-header">
        <div class="card-title mb-0">
          <span>Mijn Beeldmateriaal</span>
        </div>
      </div>
      <div class="card-content">
        <div class="w-100">
          <div class="controls">
            <a class="dropdowns" href="#">
              Soort
            </a>
            <i class="fas fa-caret-down"></i>
            <a class="dropdowns" href="#">
              Vak
            </a>
            <i class="fas fa-caret-down"></i>
            <a class="dropdowns" href="#">
              Jaar
            </a>
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
        <div class="container">
          <div class="mat-row">
            <div
              class="col-sm-3 material-card-item"
              style="background-image: url('https://kunstblik.files.wordpress.com/2011/06/schreeuw_munch.jpg?w=500'); background-size: cover;"
            >
              <a class="material-text" href="#">Upload naar slideshow</a>
            </div>
            <div
              class="col-sm-3 material-card-item"
              style="background-image: url('https://static.webshopapp.com/shops/186977/files/171114623/gogh.jpg'); background-size: cover;"
            >
              <a class="material-text" href="#">Upload naar slideshow</a>
            </div>
            <div
              class="col-sm-3 material-card-item"
              style="background-image: url('https://files.guidedanmark.org/files/465/157681_Gia-Kunst-Cosmos-A.jpg'); background-size: cover;"
            >
              <a class="material-text" href="#">Upload naar slideshow</a>
            </div>
            <div
              class="col-sm-3 material-card-item"
              style="background-image: url('https://dwars.org/overdwars/wp-content/uploads/sites/3/2017/12/Kunst-cultuur-verf.png'); background-size: cover;"
            >
              <a class="material-text" href="#">Upload naar slideshow</a>
            </div>
          </div>
          <div class="mat-row">
            <div
              class="col-sm-3 material-card-item"
              style="background-image: url('https://www.modulocare4circulair.nl/wp-content/uploads/2019/02/Strawpocalypse-Von-Wong-Parting-of-the-Plastic-sea-kunst-installatie-recyclen-upcylen-Care4Circulair-Modulo-Milieustraten.jpg'); background-size: cover;"
            >
              <a class="material-text" href="#">Upload naar slideshow</a>
            </div>
            <div
              class="col-sm-3 material-card-item"
              style="background-image: url('https://images.nrc.nl/t1J2YVSXIy3rjpHRvY7DmoHJmyk=/1280x/filters:no_upscale()/s3/static.nrc.nl/bvhw/files/2017/07/data18652777-f0d3af.jpg'); background-size: cover;"
            >
              <a class="material-text" href="#">Upload naar slideshow</a>
            </div>
            <div
              class="col-sm-3 material-card-item"
              style="background-image: url('https://www.schagenfm.nl/content/28464/news/clnt/3697494_1_org.jpg?width=1600&height=1200'); background-size: cover;"
            >
              <a class="material-text" href="#">Upload naar slideshow</a>
            </div>
            <div
              class="col-sm-3 material-card-item"
              style="background-image: url('http://www.ict.iseral.be/userfiles/kunst%2014.jpg'); background-size: cover;"
            >
              <a class="material-text" href="#">Upload naar slideshow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Beeldmateriaal'
}
</script>
