<template>
  <div class="calendar px-2">
    <div class="card">
      <div
        class=""
        style="height: 250px; background-color: unset!important;"
        :class="selectedClass"
      >
        <input id="tab1" type="radio" name="tabs" checked />
        <label for="tab1" class="px-2"
          ><span class="date-tab">{{ date1 }}</span> {{ currentMonth1 }}</label
        >

        <input id="tab2" type="radio" name="tabs" />
        <label for="tab2" class="px-2"
          ><span class="date-tab">{{ date2 }}</span> {{ currentMonth2 }}</label
        >

        <input id="tab3" type="radio" name="tabs" />
        <label for="tab3" class="px-2"
          ><span class="date-tab">{{ date3 }}</span> {{ currentMonth3 }}</label
        >

        <input id="tab4" type="radio" name="tabs" />
        <label for="tab4" class="px-2"
          ><span class="date-tab">{{ date4 }}</span> {{ currentMonth4 }}</label
        >

        <div style="float:right; padding: 1em">
          <div
            class="tablabel green"
            title="BV"
            @click="selectedClass = 'bv'"
          ></div>
          <div
            class="tablabel yellow"
            title="KUA"
            @click="selectedClass = 'kua'"
          ></div>
          <div
            class="tablabel purple"
            title="CKV"
            @click="selectedClass = 'ckv'"
          ></div>
          <div
            class="tablabel red"
            title="MU"
            @click="selectedClass = 'mu'"
          ></div>
          <div
            class="tablabel blue"
            title="DR"
            @click="selectedClass = 'dr'"
          ></div>
        </div>

        <section
          id="content1"
          style="padding-left: 2px; padding-right: 2px"
          :class="selectedClass"
        >
          <table>
            <thead>
              <tr>
                <th>
                  Onderwerp
                </th>
                <th>
                  Locatie
                </th>
                <th>Tijd</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in items"
                v-show="
                  item.class === selectedClass &&
                    checkTheDate(date1, monthNumber1, currentYear, item.date)
                "
                :key="index"
              >
                <td>
                  <b>{{ item.subject }}</b>
                </td>
                <td>
                  {{ item.location }}
                </td>
                <td>
                  {{ item.time }}
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <!--          GET * FROM CALENDAR WHERE VAK = [KEY]-->
        <section id="content2" :class="selectedClass">
          <table>
            <thead>
              <tr>
                <th>
                  Onderwerp
                </th>
                <th>
                  Locatie
                </th>
                <th>Tijd</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in items"
                v-show="
                  item.class === selectedClass &&
                    checkTheDate(date2, monthNumber2, currentYear, item.date)
                "
                :key="index"
              >
                <td>
                  <b>{{ item.subject }}</b>
                </td>
                <td>
                  {{ item.location }}
                </td>
                <td>
                  {{ item.time }}
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <section id="content3" :class="selectedClass">
          <table>
            <thead>
              <tr>
                <th>
                  Onderwerp
                </th>
                <th>
                  Locatie
                </th>
                <th>Tijd</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in items"
                v-show="
                  item.class === selectedClass &&
                    checkTheDate(date3, monthNumber3, currentYear, item.date)
                "
                :key="index"
              >
                <td>
                  <b>{{ item.subject }}</b>
                </td>
                <td>
                  {{ item.location }}
                </td>
                <td>
                  {{ item.time }}
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <section id="content4" :class="selectedClass">
          <table>
            <thead>
              <tr>
                <th>
                  Onderwerp
                </th>
                <th>
                  Locatie
                </th>
                <th>Tijd</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in items"
                v-show="
                  item.class === selectedClass &&
                    checkTheDate(date4, monthNumber4, currentYear, item.date)
                "
                :key="index"
              >
                <td>
                  <b>{{ item.subject }}</b>
                </td>
                <td>
                  {{ item.location }}
                </td>
                <td>
                  {{ item.time }}
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Calendar.vue',
  data() {
    return {
      currentYear: new Date().getFullYear(),
      date1: null,
      date2: null,
      date3: null,
      date4: null,
      currentMonth1: null,
      currentMonth2: null,
      currentMonth3: null,
      currentMonth4: null,
      monthNumber1: null,
      monthNumber2: null,
      monthNumber3: null,
      monthNumber4: null,
      checkDate: null,
      // currentMonth: null,
      allMonths: [
        'Januari',
        'Februari',
        'Maart',
        'April',
        'Mei',
        'Juni',
        'Juli',
        'Augustus',
        'September',
        'Oktober',
        'November',
        'December'
      ],
      selectedClass: 'bv',
      items: []
    }
  },
  mounted() {
    const date = new Date()
    this.date1 = date.getDate()
    this.currentMonth1 = this.allMonths[date.getMonth()]
    this.monthNumber1 = this.allMonths[date.getMonth()]

    this.date2 = new Date(date.setDate(this.date1 + 1)).getDate()
    const month2 = new Date(date.setDate(this.date1 + 1)).getMonth()
    this.currentMonth2 = this.allMonths[month2]
    this.monthNumber2 = month2

    this.date3 = new Date(date.setDate(this.date2 + 1)).getDate()
    const month3 = new Date(date.setDate(this.date1 + 1)).getMonth()
    this.currentMonth3 = this.allMonths[month3]
    this.monthNumber3 = month3

    this.date4 = new Date(date.setDate(this.date3 + 1)).getDate()
    const month4 = new Date(date.setDate(this.date1 + 1)).getMonth()
    this.currentMonth4 = this.allMonths[month4]
    this.monthNumber4 = month4

    this.getItems()
  },
  methods: {
    getItems() {
      this.$axios.get(`/users/calendarevents`).then(response => {
        this.items = response.data
      })
    },
    checkTheDate(date, month, year, itemdate) {
      itemdate = new Date(itemdate)

      if (
        itemdate.getDate() === date &&
        itemdate.getMonth() === month &&
        itemdate.getFullYear() === year
      ) {
        return true
      }
      return false
    }
  }
}
</script>
