<template>
  <div>
    <div class="module contact card">
      <div class="card-header">
        <div class="card-title mb-0">
          <span>Contact</span>
        </div>
      </div>
      <div class="card-content">
        <div class="container">
          <div class="profile-container py-3 text-center">
            <div class="row">
              <div class="col-7">
                <div class="contact-row p-1">
                  <i class="far fa-user"></i>
                  {{ user.name }}
                </div>
                <div class="contact-row p-1">
                  <i class="fas fa-phone-square"></i>
                  <span>
                    {{ user.phonenumber }}
                  </span>
                </div>
                <div class="contact-row p-1">
                  <i class="fas fa-envelope"></i>
                  <span>
                    {{ user.email }}
                  </span>
                </div>
              </div>
              <div class="col-5">
                <img
                  class="rounded-circle img-fluid"
                  :src="user.avatar"
                  style="height: 10em; width: 10em; border: 3px solid #FD535C;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contact',
  props: {
    user: {
      type: Object,
      default() {
        return {
          name: 'F'
        }
      }
    }
  }
}
</script>
