<template>
  <div class="editField">
    <div v-if="!editing">
      <p class="tab-text" @click="enableEditing">
        {{ field }}
      </p>
    </div>
    <div v-if="editing">
      <textarea v-model="tempValue" class="input"></textarea>
      <button @click="disableEditing">Cancel</button>
      <button @click="saveEdit">Save</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    field: {
      type: String,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      tempValue: null,
      editing: false
    }
  },
  methods: {
    enableEditing() {
      this.tempValue = this.field
      this.editing = true
    },
    disableEditing() {
      this.tempValue = null
      this.editing = false
    },
    saveEdit() {
      // However we want to save it to the database
      this.field = this.tempValue
      this.disableEditing()
      this.$emit('changedValue', this.field)
    }
  }
}
</script>
