<template>
  <div>
    <div class="module motivatie card">
      <div class="card-header">
        <div class="card-title mb-0">
          <span>Opleiding en Werkervaring</span>
          <i
            style="float: right; line-height: 1.25em"
            class="fa fa-pencil-alt"
          ></i>
        </div>
      </div>
      <div class="card-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 p-0">
              <p class="caps">
                <!-- eslint-disable prettier/prettier -->
                zzp-er grafisch vormgever/webdesign
              </p>
              <span class="experience-text">Mel. Graphic design/Art Almelo</span> <br>
              <span class="experience-text">2010 t/m heden www.marloesvanravenswaaij.nl</span>
              <p class="descr">Omschrijving:</p>
              <br>
              <p class="experience-text pt-0">
                  Voor een wat kleinere doelgroep realiseer ik huisstijlen, websites, belettering en logo's.
              </p>
              <p class="caps">
                2nd level support callcenter
              </p>
            </div>
            <div class="col-12 text-center p-3">
              <button class="download">
                Download mijn CV
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Ervaring'
}
</script>
