<template>
<!-- eslint-disable -->
  <form @submit.prevent="handleSubmit">
    <b-modal :id="modalId" class="TurnInModal" size="xl" @hide="preventClose">
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-6 p-0"
            style="height: 666px !important; border-right: 1px solid #dee2e6;"
          >
            <img
              v-if="
                /images/.test(payload.assignmentInfo.assignment_description)
              "
              :src="payload.assignmentInfo.assignment_description"
              class="opdrachtImage img-fluid"
              style="height: inherit !important;"
            />
            <div
              v-else
              class="p-3"
              style="height: inherit !important; width: 100%;"
            >
              <div v-html="payload.assignmentInfo.assignment_description"></div>
            </div>
          </div>
          <div class="col-6 p-0 flex-vert">
            <div
              class="vert-block assignmentImage"
              :style="[
                assignmentUser.user_upload != null
                  ? {
                      'background-image':
                        'url(' + assignmentUser.user_upload + ')'
                    }
                  : { 'background-image': 'url(' + noUpload + ')' }
              ]"
              style="background-size: cover;"
            >
              <div
                class="m-3 p-2 text-danger"
                style="background-color: rgba(255,255,255,0.6)"
                v-if="alertMessage.user_upload"
              >
                <ul class="mb-0">
                  <!-- eslint-disable-next-line vue/require-v-for-key -->
                  <li v-for="item in alertMessage.user_upload">
                    {{ item }}
                  </li>
                </ul>
              </div>
              <div class="actionBar p-1">
                <p class="mb-0 p-2">
                  <span
                    class="font-weight-bold"
                    :style="{ color: payload.classInfo.class_color }"
                    >{{ payload.classInfo.class_code }}</span
                  >
                  -
                  {{ payload.assignmentInfo.assignment_title }}
                </p>

                <div
                  class="upload-btn-wrapper p-2"
                  v-if="teacherGrading.feedback == null"
                >
                  <button class="uploadButton">
                    <i class="fas fa-cloud-upload-alt"></i> Upload Foto / Video
                  </button>
                  <input
                    ref="userUpload"
                    type="file"
                    name="myfile"
                    @change="setFile"
                  />
                </div>
              </div>
            </div>
            <div class="vert-block tab-container">
              <b-tabs>
                <b-tab title="Leerdoelen" active>
                  <div class="row">
                    <div class="col-12 header-text">
                      <p class="mb-2 font-weight-bold ">
                        Leerdoelen
                      </p>
                    </div>
                    <div class="col-12">
                      <div class="row parent-text-container">
                        <div class="col-12 pt-3 text-container">
                          <p class="tab-text pl-3">
                            {{ payload.assignmentInfo.learning_goals }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-tab>
                <b-tab title="Zelfbeoordeling">
                  <div class="row parent-text-container">
                    <div class="col-12 header-text">
                      <div class="row">
                        <div class="col-7">
                          <p class="mb-2 font-weight-bold">
                            Verantwoording
                            <i
                              v-show="!showField('self_assessment_text')"
                              class="fas fa-pencil-alt ml-2 action_button"
                              @click="focusField('self_assessment_text')"
                              v-if="teacherGrading.feedback == null"
                            ></i>
                            <i
                              v-show="showField('self_assessment_text')"
                              class="far fa-save ml-2 action_button"
                              @click="save('self_assessment_text')"
                            ></i>
                            <i
                              v-show="showField('self_assessment_text')"
                              class="fas fa-times ml-2 action_button"
                              @click="cancel('self_assessment_text')"
                            ></i>
                          </p>
                        </div>
                        <div class="col-5">
                          <p class="mb-2 font-weight-bold">
                            Eindcijfer
                            <i
                              v-show="!showField('self_assessment_grade')"
                              class="fas fa-pencil-alt ml-2 action_button"
                              @click="focusField('self_assessment_grade')"
                              v-if="teacherGrading.feedback == null"
                            ></i>
                            <i
                              v-show="showField('self_assessment_grade')"
                              class="far fa-save ml-2 action_button"
                              @click="save('self_assessment_grade')"
                            ></i>
                            <i
                              v-show="showField('self_assessment_grade')"
                              class="fas fa-times ml-2 action_button"
                              @click="cancel('self_assessment_grade')"
                            ></i>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="text-container col-7 pt-3">
                      <div class="field">
                        <p
                          v-show="!showField('self_assessment_text')"
                          class="tab-text"
                        >
                          {{ assignmentUser.self_assessment_text }}
                        </p>
                        <small>
                          <ul class="mb-0">
                            <!-- eslint-disable-next-line vue/require-v-for-key -->
                            <li
                              class="text-danger"
                              v-for="item in alertMessage.self_assessment_text"
                            >
                              {{ item }}
                            </li>
                          </ul>
                        </small>
                        <textarea
                          v-show="showField('self_assessment_text')"
                          id="user-name"
                          v-model="tempValue"
                          rows="8"
                          class="field-value form-control"
                        ></textarea>
                      </div>
                    </div>
                    <div class="col-5 pt-3">
                      <h2
                        v-show="!showField('self_assessment_grade')"
                        class="grade font-weight-bold"
                        :class="[
                          assignmentUser.self_assessment_grade < 5.6
                            ? 'text-danger'
                            : 'text-success'
                        ]"
                      >
                        {{ assignmentUser.self_assessment_grade }}
                      </h2>
                      <!-- eslint-disable-next-line vue/require-v-for-key -->
                      <small
                        class="text-danger mb-0"
                        v-for="item in alertMessage.self_assessment_grade"
                      >
                        {{ item }}
                      </small>
                      <input
                        v-show="showField('self_assessment_grade')"
                        v-model="tempValue"
                        type="number"
                        min="0"
                        max="10"
                        class="field-value form-control"
                        @keydown.enter.prevent
                      />
                    </div>
                  </div>
                </b-tab>
                <b-tab
                  title="Eindbeoordeling"
                  v-if="teacherGrading.feedback != null"
                >
                  <div class="row parent-text-container">
                    <div class="col-12 header-text">
                      <div class="row">
                        <div class="col-7">
                          <p class="mb-2 font-weight-bold">Feedback</p>
                        </div>
                        <div class="col-5">
                          <p class="mb-2 font-weight-bold">Eindcijfer</p>
                        </div>
                      </div>
                    </div>
                    <div class="text-container col-7 pt-3">
                      <p class="tab-text ">
                        {{ teacherGrading.feedback }}
                      </p>
                    </div>
                    <div class="col-5 pt-3">
                      <h2
                        class="grade font-weight-bold"
                        :class="[
                          teacherGrading.grade < 5.6
                            ? 'text-danger'
                            : 'text-success'
                        ]"
                      >
                        {{ teacherGrading.grade }}
                      </h2>
                    </div>
                  </div>
                </b-tab>
              </b-tabs>
            </div>
          </div>
        </div>
      </div>
      <div slot="modal-footer">
        <!--        <button type="submit" class="px-2 py-3">-->
        <!--          Verzenden naar presentatiemap-->
        <!--        </button>-->
        <button
          :disabled="isDisabled"
          class="px-2 py-3"
          v-if="teacherGrading.grade == null"
        >
          Verzenden ter beoordeling
          <b-spinner v-if="submitting" small></b-spinner>
        </button>
      </div>
      <b-alert
        style="position: absolute; bottom: 0; right: 1em;"
        :show="dismissCountDown"
        dismissible
        fade
        variant="success"
        @dismissed="dismissCountDown = 0"
        @dismiss-count-down="countDownChanged"
      >
        Verzonden
      </b-alert>
    </b-modal>
  </form>
</template>
<script>
export default {
  props: {
    modalId: {
      type: String,
      default() {
        return ''
      }
    },
    payload: {
      type: Object,
      default() {
        return {}
      }
    },
    assignmentUser: {
      type: Object,
      default() {
        return {}
      }
    },
    teacherGrading: {
      type: Object,
      default() {
        return {
          feedback: null,
          grade: null
        }
      }
    }
  },
  data() {
    return {
      editField: '',
      noUpload:
        'https://api.kunstfolio.tk/storage/images/user-uploads/ghgwxeIWz8V5mqrHxRMyWQc7lXayHRRNRtpURjtw.png',
      submitted: false,
      submitting: false,
      tempValue: null,
      edit: false,
      file: null,
      dismissSecs: 5,
      dismissCountDown: 0,
      alertMessage: '',
      user: {
        name: ''
      },
      uploadData: {
        selfAssessment: {
          text: null,
          grade: null
        }
      }
    }
  },
  computed: {
    isDisabled() {
      return this.edit || this.submitting
    }
  },
  methods: {
    focusField(name) {
      this.edit = true
      this.editField = name
      this.tempValue = this.assignmentUser[name]
    },
    save(name) {
      this.edit = false
      this.editField = ''
      this.assignmentUser[name] = this.tempValue
      this.tempValue = ''
    },
    cancel(name) {
      this.edit = false
      this.tempValue = ''
      this.editField = ''
    },
    showField(name) {
      return this.assignmentUser[name] === '' || this.editField === name
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    preventClose(e) {
      if (this.submitting || this.edit) {
        e.preventDefault()
      } else {
        this.resetData()
        this.cancel()
      }
    },
    resetData() {
      this.noUpload =
        'https://api.kunstfolio.tk/storage/images/user-uploads/ghgwxeIWz8V5mqrHxRMyWQc7lXayHRRNRtpURjtw.png'
      this.assignmentUser = {}
      this.teacherGrading = {}
      this.file = null
      this.uploadData.selfAssessment.text = null
      this.uploadData.selfAssessment.grade = null
      this.alertMessage = ''
    },
    setFile(e) {
      this.file = e.target.files[0]
      this.assignmentUser.user_upload = URL.createObjectURL(this.file)
      this.noUpload = URL.createObjectURL(this.file)
      this.alertMessage = ''
    },
    handleSubmit() {
      this.submitting = true
      const formData = new FormData()

      formData.append('user_upload', this.file)
      formData.append(
        'self_assessment_text',
        this.assignmentUser.self_assessment_text
      )
      formData.append(
        'self_assessment_grade',
        this.assignmentUser.self_assessment_grade
      )

      this.$axios.setHeader({
        Authorization: 'Bearer ' + this.$cookies.get('user').access_token,
        'Content-Type': 'multipart/form-data'
      })
      this.$axios
        .post('/users/assignment/' + this.payload.assignmentInfo.id, formData)
        .then(response =>
          // eslint-disable-next-line no-console
          this.handleResponse(response)
        )
        .catch(error => this.showError(error))
    },
    handleResponse(error) {
      if (error.data.error === true) {
        // eslint-disable-next-line no-console
        console.log(error)
        this.alertMessage = error.data.message
        this.submitting = false
      } else {
        this.showAlert()
        this.submitting = false
        this.alertMessage = ''
      }
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    }
  }
}
</script>
