<template>
  <div>
    <InterestsModal :payload="interests"></InterestsModal>
    <div class="module interests card">
      <div class="card-header">
        <div class="card-title mb-0">
          Interesses
          <i
            v-b-modal.interests-modal
            style="float: right; line-height: 1.25em;"
            class="fas fa-ellipsis-h disable"
          ></i>
        </div>
      </div>
      <div class="card-content p-3 pt-4">
        <div v-if="interests" class="d-flex row">
          <div v-if="interests === 'empty'" class="col-12 text-center">
            <p>Geen interesses beschikbaar</p>
          </div>
          <div
            v-for="interest in interests"
            :key="interest.id"
            class="col-3 interest"
          >
            <img
              v-if="interests !== 'empty'"
              class="img-interests mb-2 img-fluid"
              :src="interest.url"
            />
            <p class="text-interest">
              {{ interest.name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import InterestsModal from '~/components/InterestsModal'

export default {
  components: {
    InterestsModal
  },
  data() {
    return {
      interests: null
    }
  },
  created() {
    this.$axios.setHeader(
      'Authorization',
      'Bearer ' + this.$cookies.get('user').access_token
    )
    this.$axios.get('/users/interests').then(data => {
      // eslint-disable-next-line no-console
      if (data.data.length === 0) {
        this.interests = 'empty'
      } else {
        this.interests = data.data
      }
    })
  }
}
</script>
