<template>
  <b-modal id="interests-modal" title="Interesses">
    <b-container fluid>
      <b-row class="mb-1 text-center">
        <b-col cols="3"></b-col>
        <b-col>Interesses</b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="3">Interest 1</b-col>
        <b-col>
          <select
            v-model="interest1"
            class="form-control"
            id="exampleFormControlSelect1"
          >
            <option
              v-for="interest in interests"
              :key="interest.id"
              :disabled="isActive(payload, 0, interest.id)"
              :selected="isActive(payload, 0, interest.id)"
              :value="interest.id"
              >{{ interest.name }}</option
            >
          </select>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="3">Interest 2</b-col>
        <b-col>
          <select
            v-model="interest2"
            class="form-control"
            id="exampleFormControlSelect1"
          >
            <option
              v-for="interest in interests"
              :key="interest.id"
              :disabled="isActive(payload, 1, interest.id)"
              :selected="isActive(payload, 1, interest.id)"
              :value="interest.id"
              >{{ interest.name }}</option
            >
          </select>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="3">Interest 3</b-col>
        <b-col>
          <select
            v-model="interest3"
            class="form-control"
            id="exampleFormControlSelect1"
          >
            <option
              v-for="interest in interests"
              :key="interest.id"
              :disabled="isActive(payload, 2, interest.id)"
              :selected="isActive(payload, 2, interest.id)"
              :value="interest.id"
              >{{ interest.name }}</option
            >
          </select>
        </b-col>
      </b-row>
      <b-row class="mb-1">
        <b-col cols="3">Interest 4</b-col>
        <b-col>
          <select
            v-model="interest4"
            class="form-control"
            id="exampleFormControlSelect1"
          >
            <option
              v-for="interest in interests"
              :key="interest.id"
              :disabled="isActive(payload, 3, interest.id)"
              :selected="isActive(payload, 3, interest.id)"
              :value="interest.id"
              >{{ interest.name }}</option
            >
          </select>
        </b-col>
      </b-row>
    </b-container>
  </b-modal>
</template>
<script>
export default {
  props: ['payload'],
  data() {
    return {
      interest1: null,
      interest2: null,
      interest3: null,
      interest4: null,
      interests: null
    }
  },
  created() {
    this.$axios.setHeader(
      'Authorization',
      'Bearer ' + this.$cookies.get('user').access_token
    )
    this.$axios.get('/interests').then(data => {
      this.interests = data.data
    })
  },
  mounted() {
    this.$root.$on('bv::modal::show', () => {
      this.interest1 = this.payload[0].id
      this.interest2 = this.payload[1].id
      this.interest3 = this.payload[2].id
      this.interest4 = this.payload[3].id
    })
  },
  methods: {
    isActive(payload, id, interestId) {
      if (payload[id].id === interestId) {
        return true
      }
    }
  }
}
</script>
