<template>
  <div>
    <div class="module motivatie card">
      <div class="card-header">
        <div class="card-title mb-0">
          <span>Motivatie</span>
          <i
            style="float: right; line-height: 1.25em"
            class="fa fa-pencil-alt"
          ></i>
        </div>
      </div>
      <div class="card-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 p-0">
              <p>
                <!-- eslint-disable prettier/prettier -->
                Ik wil artiest worden op het Horizon college omdat ik mij wil verdiepen in de kunsten van fotografie, 3D art en tekenen.
                Ik wil later mijn eigen bedrijf opstarten omdat het mij enorm leuk lijkt om voor mensen te designen terwijl ik mijn eigen stijl nog mer ontwikkel en verfijn.
              </p>
              <div class="gradient"></div>
            </div>
            <div class="col-12 text-center p-3">
              <button class="download">
                Download motivatie
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Motivatie'
}
</script>
