<template>
  <div class="module card" style="height: auto">
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      indicators
      background="#ababab"
      img-width="1024"
      img-height="500"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        caption="Perspectief"
        img-src="https://picsum.photos/1024/520/?image=52"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide img-src="https://picsum.photos/1024/520/?image=54">
        <h1>Blue skies</h1>
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide
        caption="Zwart & Wit"
        img-src="https://picsum.photos/1024/520/?image=58"
      ></b-carousel-slide>

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide caption="Bright colours">
        <img
          slot="img"
          class="d-block img-fluid w-100"
          width="1024"
          height="420"
          src="https://picsum.photos/1024/520/?image=55"
          alt="image slot"
        />
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>
<script>
export default {
  data() {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true
    },
    onSlideEnd(slide) {
      this.sliding = false
    }
  }
}
</script>
