<template>
  <div>
    <div class="module skill card">
      <div class="card-header">
        <div class="card-title mb-0">
          <span>Skills</span>
          <i
            v-b-modal.skill-modal
            style="float: right; line-height: 1.25em"
            class="fas fa-ellipsis-h"
          ></i>
        </div>
      </div>
      <div class="card-content ">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 skill-card-item">
              <i class="fas fa-desktop"></i>
              <p class="skill-text">ICT VAARDIGHEDEN</p>
            </div>
            <div class="col-sm-3 skill-card-item">
              <i class="fas fa-dharmachakra"></i>
              <p class="skill-text">ZELF REGULERING</p>
            </div>
            <div class="col-sm-3 skill-card-item">
              <i class="fas fa-comments"></i>
              <p class="skill-text">COMMUNICEREN</p>
            </div>
            <div class="col-sm-3 skill-card-item">
              <i class="fas fa-users"></i>
              <p class="skill-text">SAMENWERKEN</p>
            </div>
          </div>
          <div class="row">
            <b-progress class="col-sm-3 skill-progress">
              <b-progress-bar
                :value="userSkills.ict"
                class="skill-progress-bar"
              >
                <span v-if="userSkills.ict > 0"> {{ userSkills.ict }}%</span>
                <span v-else>
                  0%
                </span>
              </b-progress-bar>
            </b-progress>

            <b-progress class="col-sm-3 skill-progress">
              <b-progress-bar
                :value="userSkills.zelfregulering"
                class="skill-progress-bar"
              >
                <span v-if="userSkills.zelfregulering > 0">
                  {{ userSkills.zelfregulering }}%
                </span>
                <span v-else>
                  0%
                </span>
              </b-progress-bar>
            </b-progress>

            <b-progress class="col-sm-3 skill-progress">
              <b-progress-bar
                :value="userSkills.communiceren"
                class="skill-progress-bar"
              >
                <span v-if="userSkills.communiceren > 0">
                  {{ userSkills.communiceren }}%
                </span>
                <span v-else>
                  0%
                </span>
              </b-progress-bar>
            </b-progress>

            <b-progress class="col-sm-3 skill-progress">
              <b-progress-bar
                :value="userSkills.samenwerken"
                class="skill-progress-bar"
              >
                <span v-if="userSkills.samenwerken > 0"
                  >{{ userSkills.samenwerken }}%
                </span>
                <span v-else>
                  0%
                </span>
              </b-progress-bar>
            </b-progress>
          </div>
          <div class="row">
            <div class="col-sm-3 skill-card-item">
              <i class="fas fa-desktop"></i>
              <p class="skill-text">SOCIALE/CULTURELE VAARDIGHEDEN</p>
            </div>
            <div class="col-sm-3 skill-card-item">
              <i class="fas fa-dharmachakra"></i>
              <p class="skill-text">KRITISCH DENKEN</p>
            </div>
            <div class="col-sm-3 skill-card-item">
              <i class="fas fa-comments"></i>
              <p class="skill-text">PROBLEEM OPLOSSEN</p>
            </div>
            <div class="col-sm-3 skill-card-item">
              <i class="fas fa-users"></i>
              <p class="skill-text">CREATIEF DENKEN</p>
            </div>
          </div>
          <div class="row">
            <b-progress class="col-sm-3 skill-progress">
              <b-progress-bar
                :value="userSkills.vaardigheden"
                class="skill-progress-bar"
              >
                <span v-if="userSkills.vaardigheden > 0">
                  {{ userSkills.vaardigheden }}%
                </span>
                <span v-else>
                  0%
                </span>
              </b-progress-bar>
            </b-progress>

            <b-progress class="col-sm-3 skill-progress">
              <b-progress-bar
                :value="userSkills.kritisch"
                class="skill-progress-bar"
              >
                <span v-if="userSkills.kritisch > 0">
                  {{ userSkills.kritisch }}%
                </span>
                <span v-else>
                  0%
                </span>
              </b-progress-bar>
            </b-progress>

            <b-progress class="col-sm-3 skill-progress">
              <b-progress-bar
                :value="userSkills.problemen"
                class="skill-progress-bar"
              >
                <span v-if="userSkills.problemen > 0">
                  {{ userSkills.problemen }}%
                </span>
                <span v-else>
                  0%
                </span>
              </b-progress-bar>
            </b-progress>

            <b-progress class="col-sm-3 skill-progress">
              <b-progress-bar
                :value="userSkills.creatief"
                class="skill-progress-bar"
              >
                <span v-if="userSkills.creatief > 0">
                  {{ userSkills.creatief }}%
                </span>
                <span v-else>
                  0%
                </span>
              </b-progress-bar>
            </b-progress>
          </div>
        </div>
      </div>
    </div>
    <b-modal id="skill-modal" class="SkillModal" size="xl" @ok="changeEdit">
      <p>Hoe goed ben jij in jouw skills?</p>
      <div class="container skill-edit-container">
        <div class="row">
          <div class="col-sm-3">
            <p>ICT</p>
            <label class="radio">
              <input
                v-model="userSkillsIct"
                type="radio"
                name="userSkillsIctRadio"
                value="20"
                checked
              />
              <span>Erg slecht (0% / 20%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsIct"
                type="radio"
                name="userSkillsIctRadio"
                value="40"
              />
              <span>Slecht (20% / 40%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsIct"
                type="radio"
                name="userSkillsIctRadio"
                value="60"
              />
              <span>Matig (40% / 60%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsIct"
                type="radio"
                name="userSkillsIctRadio"
                value="80"
              />
              <span>Goed (60% / 80%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsIct"
                type="radio"
                name="userSkillsIctRadio"
                value="100"
              />
              <span>Erg goed (80% / 100%)</span>
            </label>
          </div>

          <div class="col-sm-3">
            <p>Zelf regulering</p>
            <label class="radio">
              <input
                v-model="userSkillsZelfregulering"
                type="radio"
                name="userSkillsZelfreguleringRadio"
                value="20"
                checked
              />
              <span>Erg slecht (0% / 20%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsZelfregulering"
                type="radio"
                name="userSkillsZelfreguleringRadio"
                value="40"
              />
              <span>Slecht (20% / 40%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsZelfregulering"
                type="radio"
                name="userSkillsZelfreguleringRadio"
                value="60"
              />
              <span>Matig (40% / 60%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsZelfregulering"
                type="radio"
                name="userSkillsZelfreguleringRadio"
                value="80"
              />
              <span>Goed (60% / 80%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsZelfregulering"
                type="radio"
                name="userSkillsZelfreguleringRadio"
                value="100"
              />
              <span>Erg goed (80% / 100%)</span>
            </label>
          </div>

          <div class="col-sm-3">
            <p>Communiceren</p>
            <label class="radio">
              <input
                v-model="userSkillsCommuniceren"
                type="radio"
                name="r"
                value="20"
              />
              <span>Erg slecht (0% / 20%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsCommuniceren"
                type="radio"
                name="userSkillsCommunicerenRadio"
                value="40"
                checked
              />
              <span>Slecht (20% / 40%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsCommuniceren"
                type="radio"
                name="userSkillsCommunicerenRadio"
                value="60"
              />
              <span>Matig (40% / 60%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsCommuniceren"
                type="radio"
                name="userSkillsCommunicerenRadio"
                value="80"
              />
              <span>Goed (60% / 80%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsCommuniceren"
                type="radio"
                name="userSkillsCommunicerenRadio"
                value="100"
              />
              <span>Erg goed (80% / 100%)</span>
            </label>
          </div>

          <div class="col-sm-3">
            <p>Samenwerken</p>
            <label class="radio">
              <input
                v-model="userSkillsSamenwerken"
                type="radio"
                name="userSkillsSamenwerkenRadio"
                value="20"
              />
              <span>Erg slecht (0% / 20%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsSamenwerken"
                type="radio"
                name="userSkillsSamenwerkenRadio"
                value="40"
              />
              <span>Slecht (20% / 40%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsSamenwerken"
                type="radio"
                name="userSkillsSamenwerkenRadio"
                value="60"
              />
              <span>Matig (40% / 60%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsSamenwerken"
                type="radio"
                name="userSkillsSamenwerkenRadio"
                value="80"
                checked
              />
              <span>Goed (60% / 80%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsSamenwerken"
                type="radio"
                name="userSkillsSamenwerkenRadio"
                value="100"
              />
              <span>Erg goed (80% / 100%)</span>
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-3">
            <p>Sociale/Culturele vaardigheden</p>
            <label class="radio">
              <input
                v-model="userSkillsVaardigheden"
                type="radio"
                name="userSkillsVaardighedenRadio"
                value="20"
              />
              <span>Erg slecht (0% / 20%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsVaardigheden"
                type="radio"
                name="userSkillsVaardighedenRadio"
                value="40"
              />
              <span>Slecht (20% / 40%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsVaardigheden"
                type="radio"
                name="userSkillsVaardighedenRadio"
                value="60"
                checked
              />
              <span>Matig (40% / 60%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsVaardigheden"
                type="radio"
                name="userSkillsVaardighedenRadio"
                value="80"
              />
              <span>Goed (60% / 80%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsVaardigheden"
                type="radio"
                name="userSkillsVaardighedenRadio"
                value="100"
              />
              <span>Erg goed (80% / 100%)</span>
            </label>
            <!--            <label>userSkillsVaardigheden: {{ userSkillsVaardigheden }} </label>-->
          </div>

          <div class="col-sm-3">
            <p>Kritisch denken</p>
            <label class="radio">
              <input
                v-model="userSkillsKritisch"
                type="radio"
                name="userSkillsKritischRadio"
                value="20"
              />
              <span>Erg slecht (0% / 20%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsKritisch"
                type="radio"
                name="userSkillsKritischRadio"
                value="40"
              />
              <span>Slecht (20% / 40%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsKritisch"
                type="radio"
                name="userSkillsKritischRadio"
                value="60"
              />
              <span>Matig (40% / 60%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsKritisch"
                type="radio"
                name="userSkillsKritischRadio"
                value="80"
                checked
              />
              <span>Goed (60% / 80%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsKritisch"
                type="radio"
                name="userSkillsKritischRadio"
                value="100"
              />
              <span>Erg goed (80% / 100%)</span>
            </label>
            <!--            <label>userSkillsKritisch: {{ userSkillsKritisch }} </label>-->
          </div>

          <div class="col-sm-3">
            <p>Problemen oplossen</p>
            <label class="radio">
              <input
                v-model="userSkillsProblemen"
                type="radio"
                name="userSkillsProblemenRadio"
                value="20"
              />
              <span>Erg slecht (0% / 20%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsProblemen"
                type="radio"
                name="userSkillsProblemenRadio"
                value="40"
              />
              <span>Slecht (20% / 40%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsProblemen"
                type="radio"
                name="userSkillsProblemenRadio"
                value="60"
              />
              <span>Matig (40% / 60%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsProblemen"
                type="radio"
                name="userSkillsProblemenRadio"
                value="80"
              />
              <span>Goed (60% / 80%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsProblemen"
                type="radio"
                name="userSkillsProblemenRadio"
                value="100"
                checked
              />
              <span>Erg goed (80% / 100%)</span>
            </label>
            <!--            <label>userSkillsProblemen: {{ userSkillsProblemen }} </label>-->
          </div>

          <div class="col-sm-3">
            <p>Creatief denken</p>
            <label class="radio">
              <input
                v-model="userSkillsCreatief"
                type="radio"
                name="userSkillsCreatiefRadio"
                value="20"
              />
              <span>Erg slecht (0% / 20%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsCreatief"
                type="radio"
                name="userSkillsCreatiefRadio"
                value="40"
                checked
              />
              <span>Slecht (20% / 40%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsCreatief"
                type="radio"
                name="userSkillsCreatiefRadio"
                value="60"
              />
              <span>Matig (40% / 60%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsCreatief"
                type="radio"
                name="userSkillsCreatiefRadio"
                value="80"
              />
              <span>Goed (60% / 80%)</span>
            </label>
            <label class="radio">
              <input
                v-model="userSkillsCreatief"
                type="radio"
                name="userSkillsCreatiefRadio"
                value="100"
              />
              <span>Erg goed (80% / 100%)</span>
            </label>
            <!--            <label>userSkillsCreatief: {{ userSkillsCreatief }} </label>-->
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userSkills: {
        ict: this.userSkillsIct,
        zelfregulering: this.userSkillsZelfregulering,
        communiceren: this.userSkillsCommuniceren,
        samenwerken: this.userSkillsSamenwerken,
        vaardigheden: this.userSkillsVaardigheden,
        kritisch: this.userSkillsKritisch,
        problemen: this.userSkillsProblemen,
        creatief: this.userSkillsCreatief
      },
      userSkillsIct: null,
      userSkillsZelfregulering: null,
      userSkillsCommuniceren: null,
      userSkillsSamenwerken: null,
      userSkillsVaardigheden: null,
      userSkillsKritisch: null,
      userSkillsProblemen: null,
      userSkillsCreatief: null
    }
  },
  created() {
    // this.$axios.setHeader(
    //   'Authorization',
    //   'Bearer ' + this.$cookies.get('user').access_token
    // )
    // this.$axios.get('/users/skills').then(data => {
    //   // eslint-disable-next-line no-console
    //   this.userSkills = data
    // })
  },
  methods: {
    changeEdit() {
      this.$data.userSkills.ict = 20
      this.$data.userSkills.zelfregulering = 20
      this.$data.userSkills.communiceren = 40
      this.$data.userSkills.samenwerken = 80
      this.$data.userSkills.vaardigheden = 60
      this.$data.userSkills.kritisch = 80
      this.$data.userSkills.problemen = 100
      this.$data.userSkills.creatief = 40
    },
    saveEdit() {
      this.$axios
        .post('/users/skills/edit', [[[this.userSkillsCreatief]]])
        .then(response => {
          // eslint-disable-next-line no-console
          console.log(response)
        })
    }
  }
}
</script>
