<template>
<!-- eslint-disable -->
  <div class="col-sm-12">
    <inleveren-modal
      :payload="activeAssignment"
      :assignment-user="assignmentUser"
      :teacher-grading="teacherGrading"
      :modal-id="modalId"
    >
    </inleveren-modal>
    <div class="card">
      <div class="">
        <input id="tab1" type="radio" name="tabs" checked />
        <label class="text-tab" for="tab1">Opdrachten</label>

        <input id="tab2" type="radio" name="tabs" />
        <label class="text-tab" for="tab2">Logboek</label>

        <input id="tab3" type="radio" name="tabs" />
        <label class="text-tab" for="tab3">Cijfers</label>

        <section id="content1" style="padding-left: 2px; padding-right: 2px">
          <table>
            <thead>
              <tr>
                <th>
                  Opdracht naam
                </th>
                <th>
                  Project
                </th>
                <th>
                  Soort
                </th>
                <th>
                  Inleverdatum
                </th>
                <th>
                  Status
                </th>
                <th>
                  Ingezonden op
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody v-for="item in assignments" :key="item.id">
              <tr
                style="cursor: pointer;"
                v-for="assignment in filteredAss(item.assignments)"
                :key="assignment.id"
                v-b-modal.turnInModalExtended
                @click="setActive(item, assignment)"
              >
                <td>
                  <span>{{ assignment.assignment_title }}</span>
                </td>
                <td>
                  <span>{{ assignment.project }}</span>
                </td>
                <td>
                  {{ assignment.category }}
                </td>
                <td>
                  {{ returnDate(assignment.deadline_date) }}
                </td>
                <td>
                  <span v-for="item in userAssignments" :key="item.id">
                    <span v-if="item.id === assignment.id">
                      <span v-if="item.status === 'true'">
                        <span v-if="item.payload.teacher_assignment">
                          <span
                            v-if="item.payload.teacher_assignment.grade < 5.6"
                            class="status-bad"
                            >Onvoldoende</span
                          >
                          <span
                            v-else-if="item.payload.teacher_assignment.grade"
                            class="status-good"
                            >Voldoende</span
                          >
                        </span>
                        <span v-else>
                          <span class="status-proc">Behandeling</span>
                        </span>
                      </span>
                      <span
                        class="status-sent"
                        v-else-if="item.status === 'false'"
                      >
                        Inzenden
                      </span>
                    </span>
                  </span>
                </td>
                <td>
                  <span v-for="item in userAssignments" :key="item.id">
                    <span v-if="item.id === assignment.id">
                      <span v-if="item.payload.user_assignment">
                        {{
                          returnDate(item.payload.user_assignment.created_at)
                        }}
                      </span>
                      <span v-else>...</span>
                    </span>
                  </span>
                </td>
                <td>
                  <i class="fas fa-search"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <section id="content2">
          <i class="fas fa-search search-icon-log"></i>
          <input
            type="text"
            class="log-search"
            placeholder="Zoek op titel, datum, opdracht of project"
          />
          <table>
            <thead>
              <tr>
                <th>
                  Opdracht naam
                </th>
                <th>
                  Project
                </th>
                <th>
                  Soort
                </th>
                <th>
                  Inleverdatum
                </th>
                <th>
                  Status
                </th>
                <th>
                  Ingezonden op
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody v-for="item in assignments" :key="item.id">
              <tr
                style="cursor: pointer;"
                v-for="assignment in item.assignments"
                :key="assignment.id"
                v-b-modal.turnInModalExtended
                @click="setActive(item, assignment)"
              >
                <td>
                  <span>{{ assignment.assignment_title }}</span>
                </td>
                <td>
                  <span>{{ assignment.project }}</span>
                </td>
                <td>
                  {{ assignment.category }}
                </td>
                <td>
                  {{ assignment.deadline_date }}
                </td>
                <td>
                  <span v-for="item in userAssignments" :key="item.id">
                    <span v-if="item.id === assignment.id">
                      <span v-if="item.status === 'true'">
                        <span v-if="item.payload.teacher_assignment">
                          <span
                            v-if="item.payload.teacher_assignment.grade < 5.6"
                            class="status-bad"
                            >Onvoldoende</span
                          >
                          <span
                            v-else-if="item.payload.teacher_assignment.grade"
                            class="status-good"
                            >Voldoende</span
                          >
                        </span>
                        <span v-else>
                          <span class="status-proc">Behandeling</span>
                        </span>
                      </span>
                      <span
                        class="status-sent"
                        v-else-if="item.status === 'false'"
                      >
                        Inzenden
                      </span>
                    </span>
                  </span>
                </td>
                <td>
                  <span v-for="item in userAssignments" :key="item.id">
                    <span v-if="item.id === assignment.id">
                      <span v-if="item.payload.user_assignment">{{
                        item.payload.user_assignment.created_at
                      }}</span>
                      <span v-else>...</span>
                    </span>
                  </span>
                </td>
                <td>
                  <i class="fas fa-search"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <section id="content3">
          <table>
            <thead>
              <tr>
                <th>
                  Opdracht naam
                </th>
                <th>
                  Project
                </th>
                <th>
                  Cijfer
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b>Tekening</b>
                </td>
                <td>
                  Wie ben jij
                </td>
                <td>
                  5.5
                </td>
                <td>
                  <i class="fas fa-search"></i>
                </td>
              </tr>
              <tr>
                <td>
                  Schilderij
                </td>
                <td>
                  Wie ben jij
                </td>
                <td>
                  7
                </td>
                <td>
                  <i class="fas fa-search"></i>
                </td>
              </tr>
              <tr>
                <td>
                  Diepte tekenen
                </td>
                <td>
                  Workshop tekenen
                </td>
                <td>
                  9.5
                </td>
                <td>
                  <i class="fas fa-search"></i>
                </td>
              </tr>
              <tr>
                <td>
                  Verslag over Van Gogh
                </td>
                <td>
                  Geschiedenis
                </td>
                <td>
                  2
                </td>
                <td>
                  <i class="fas fa-search"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import inleverenModal from '~/components/InleverenModal'
export default {
  name: 'TurnIn',
  components: { inleverenModal },
  data() {
    return {
      modalId: 'turnInModalExtended',
      assignments: null,
      userAssignments: [],
      activeAssignment: {
        classInfo: {},
        assignmentInfo: {
          assignment_title: 'placeholder'
        }
      },
      assignmentUser: {
        user_upload: null
      },
      teacherGrading: {
        feedback: null,
        grade: null
      }
    }
  },
  created() {
    this.$axios.setHeader(
      'Authorization',
      'Bearer ' + this.$cookies.get('user').access_token
    )
    this.$axios.get('/assignments/' + this.$route.params.vak).then(data => {
      data.data.forEach(element => {
        element.assignments.forEach(assignment => {
          // eslint-disable-next-line no-console
          this.getUserAssignment(assignment.id)
        })
      })
      this.assignments = data.data
    })
  },
  methods: {
    filteredAss(arr) {
      // eslint-disable-next-line no-console
      // console.log(arr[0].deadline_date)
      return arr.filter(array => {
        const dateNow = new Date()
        const dateMinWeek = new Date(
          dateNow.getTime() - 60 * 60 * 24 * 7 * 1000
        )
        // eslint-disable-next-line no-console
        console.log('Week gelee ' + dateMinWeek)
        // eslint-disable-next-line no-console
        console.log('Week Nu ' + dateNow)
        if (new Date(array.deadline_date) > dateMinWeek) {
          return array
        }
      })
    },
    getUserAssignment(data) {
      this.$axios
        .get('/users/assignment/' + data)
        .then(response => {
          const assignmentObject = {}
          assignmentObject.id = data
          assignmentObject.payload = response.data
          assignmentObject.status = 'true'
          this.userAssignments.push(assignmentObject)
        })
        .catch(error => {
          // eslint-disable-next-line no-console
          console.log(error)
          const assignmentObject = {}

          assignmentObject.id = data
          assignmentObject.payload = 'oof'
          assignmentObject.status = 'false'
          this.userAssignments.push(assignmentObject)
        })
    },
    getCurrentAssignment(assignmentKey) {
      this.$axios.get('/users/assignment/' + assignmentKey).then(response => {
        this.assignmentUser = response.data.user_assignment
        if (response.data.teacher_assignment != null) {
          this.teacherGrading = response.data.teacher_assignment
        } else {
          this.teacherGrading = {}
        }
      })
    },
    setActive(classInfo, assignmentInfo) {
      // eslint-disable-next-line no-console
      this.activeAssignment.assignmentInfo = assignmentInfo
      this.activeAssignment.classInfo = classInfo
      this.getCurrentAssignment(assignmentInfo.id)
    },
    returnDate(date) {
      const dateTime = new Date(date)
      return dateTime.toLocaleDateString('nl-NL', {
        day: 'numeric',
        month: 'numeric',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      })
    },
    filterDate(date) {
      const dateNow = new Date()
      const dateMinWeek = dateNow.setDate(dateNow.getDate() - 7)
      return date > dateMinWeek && date < dateNow
    }
  }
}
</script>

<style scoped>
p:not(:last-child) {
  margin: 0 0 20px;
}

.fa-search {
  color: #0a8cd7;
}

.card {
  border: none;
  background-color: #c9d2d9;
}

.nowrap {
  white-space: nowrap;
  width: 20px;
}

.text-tab {
  padding-left: 20px;
  padding-right: 20px;
}

.search-icon-log {
  width: 5%;
  padding-left: 14px;
  font-size: 22px;
  margin-top: 40px;
}

.log-search {
  display: inline;
  padding: 20px;
  width: 94%;
  background-color: #fcfcfc;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.log-search:focus {
  box-shadow: inset 0 0 3px #000000;
}

main {
  max-width: 800px;
  padding: 40px;
}

section {
  display: none;
  background-color: white;
  color: black;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 5px;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
  color: #1b1b1b;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  background-color: white;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}

/*----*/

p {
  text-align: center;
  margin: 20px 0 60px;
}

main {
  background-color: #2c3845;
}

h1 {
  text-align: center;
  font-weight: 300;
}

table {
  display: block;
}

tr,
td,
tbody,
tfoot {
  display: block;
}

thead {
  display: none;
}

tr {
  padding-bottom: 10px;
  color: #1b1b1b81;
  font-weight: 600;
}

tr:hover {
  color: #1b1b1b;
}

td {
  padding: 10px 10px 0;
  text-align: center;
}
td:before {
  content: attr(data-title);
  color: #7a91aa;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-right: 10px;
  display: block;
}

table {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

th {
  text-align: left;
  font-weight: 700;
}

thead th {
  color: #b1b1b1;
  padding-top: 40px;
  padding-left: 10px;
  border-bottom: 2px solid rgba(172, 171, 171, 0.493);
}

tfoot th {
  display: block;
  padding: 10px;
  text-align: center;
  color: #b8c4d2;
}

@media (min-width: 460px) {
  td {
    text-align: left;
  }
  td:before {
    display: inline-block;
    text-align: right;
    width: 140px;
  }
}
@media (min-width: 720px) {
  table {
    display: table;
  }

  tr {
    display: table-row;
  }

  td,
  th {
    display: table-cell;
  }

  tbody {
    display: table-row-group;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  td:before {
    display: none;
  }

  td,
  th {
    padding: 7px;
  }

  tfoot th {
    display: table-cell;
  }
}
</style>
