<template>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarTogglerDemo01" class="collapse navbar-collapse">
      <ul class="navbar-nav mt-2 mt-lg-0 p-3">
        <li class="nav-item mr-4" style="cursor: pointer;" @click="hideSidebar">
          <a class="nav-link">
            <i class="fas fa-bars"></i>
          </a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" style="cursor: pointer;" @click="reloadPage"
            ><i class="fas fa-redo-alt"></i
          ></a>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link disable">
            <i class="fas fa-th"></i>
          </a>
        </li>
        <template v-if="this.$store.state.userData !== ''">
          <div
            class="divider mr-2"
            style="background-color: rgba(0,0,0,0.2); height: 2em; width: 1px;"
          ></div>
          <li class="nav-item mr-2">
            <b-dropdown variant="link" no-caret>
              <template slot="button-content" style="font-size: 20px">
                <a class="nav-link" href="#">
                  <i class="fas fa-bell"></i
                  ><span class="badge" style="margin-top: 15px">0</span>
                </a>
              </template>
              <div v-for="value in announcements" :key="value.id">
                <b-dropdown-item
                  v-b-modal.announcement-nav-modal
                  v-for="announcement in value.announcements"
                  :key="announcement.id"
                  @click="setAnnouncementModal(value)"
                >
                  <span
                    class="className"
                    :style="{ color: value.class_color }"
                    >{{ value.class_code }}</span
                  >
                  - <strong>{{ announcement.title }}</strong>
                  <span v-if="announcement.created_at">{{
                    announcement.created_at
                  }}</span>
                </b-dropdown-item>
              </div>
            </b-dropdown>
          </li>
        </template>
      </ul>
      <div class="search mx-auto d-flex align-middle" style="width: 40em">
        <!--        <input-->
        <!--          id="exampleInputEmail1"-->
        <!--          type="text"-->
        <!--          class="form-control"-->
        <!--          aria-describedby="emailHelp"-->
        <!--          placeholder="Search"-->
        <!--          style="-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;"-->
        <!--        />-->
      </div>
      <ul class="navbar-nav mt-2 ml-auto mr-4 mt-lg-0">
        <div class="dropdown">
          <li
            class="nav-item dropdown-toggle mr-2"
            data-toggle="dropdown"
            style="height: 3em; width: 3em;"
          >
            <a
              v-if="!this.$store.state.detailsLoading"
              class="nav-link"
              href="#"
              ><img
                id="nav-profilepicture"
                class="img-fluid rounded-circle"
                style="height: 48px;"
                :src="this.userData.avatar"/><span class="profile-badge"></span
            ></a>
          </li>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="dropdownMenuButton"
          >
            <h6 class="dropdown-header">Set Status</h6>
            <a class="dropdown-item" href="#">
              <i class="fas fa-circle status text-success"></i> Online
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-circle status text-danger"></i> Busy
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-circle status text-warning"></i> Away
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-circle status text-muted"></i> Offline
            </a>
          </div>
        </div>
        <li class="nav-item m-auto">
          <no-ssr>
            <n-link
              class="nav-link"
              to="/settings"
              title="Instellingen"
              no-prefetch
            >
              <i class="fas fa-cog"></i>
            </n-link>
          </no-ssr>
        </li>
      </ul>
    </div>
    <b-modal
      id="announcement-nav-modal"
      ok-only
      :title="classCode"
      size="xl"
      style="background-color: #00b89c"
      :header-class="classCode"
      footer-class="date"
    >
      <div v-if="announcementData !== null">
        <span v-if="announcementData.title !== null" style="font-size: 3em">
          {{ announcementData.title }}
        </span>
        <pre v-if="announcementData.description !== null">{{
          announcementData.description
        }}</pre>
      </div>
      <div slot="modal-footer">
        <span style="vertical-align: bottom; float: right;"
          ><span style="font-weight: lighter">Ingevoerd: </span
          ><span v-if="created_at">{{ created_at }}</span>
        </span>
      </div>
    </b-modal>
  </nav>
</template>
<script>
export default {
  data() {
    return {
      userData: '',
      announcements: null,
      announcementData: null,
      classCode: null,
      classColor: null,
      created_at: null
    }
  },
  created() {
    this.$axios.setHeader(
      'Authorization',
      'Bearer ' + this.$cookies.get('user').access_token
    )
    this.$axios.get('/announcements').then(data => {
      this.announcements = data.data
    })
    this.$axios.get('/users/details').then(data => {
      this.userData = data.data
    })
  },
  methods: {
    setAnnouncementModal(value) {
      this.announcementData = value.announcements[0]
      // eslint-disable-next-line
      this.classCode = value['class_code']
      // eslint-disable-next-line
      this.classColor = value['class_color']
      // eslint-disable-next-line
      this.classColor = value['class_color']
      // eslint-disable-next-line
      this.created_at = value.announcements[0]['created_at']
    },
    reloadPage() {
      window.location.reload()
    },
    hideSidebar() {
      this.$root.$emit('hide-sidebar')
    }
  }
}
</script>
