<template>
  <div class="short-sidebar">
    <div class="sidebar is-gapless" :class="[!isHidden ? 'sb-pattern' : '']">
      <div class="header p-3">
        <div class="brand-logo">
          <!-- TODO: Change img and text to img svg -->
          <n-link to="/" title="Home" class="d-flex align-middle">
            <img
              src="~/assets/img/logo_def.png"
              class="img-fluid"
              :class="[!isHidden ? 'mr-2' : '']"
              style="height: 30px; width: 30px;"
            />
            <h3
              v-if="!isHidden"
              class="brand mb-0 d-flex justify-content-start"
            >
              <span class="font-weight-bold">Kunst</span>folio
            </h3>
          </n-link>
        </div>
        <div v-if="!isHidden" class="buttons">
          <no-ssr>
            <n-link
              to="/"
              class="control-button button mr-1"
              title="Home"
              no-prefetch
            >
              <i class="fas fa-home"></i>
            </n-link>
          </no-ssr>
        </div>
      </div>
      <div v-if="!isHidden" class="profile-container p-3">
        <div class="user-profile-image mr-3">
          <a
            v-if="!this.$store.state.detailsLoading"
            class="profile-image"
            href="#"
          >
            <img
              id="side-profilepicture"
              class="img-fluid rounded-circle"
              style="height: 80px; max-width: 80px;"
              :src="this.userData.avatar"
            />
          </a>
        </div>
        <div class="profile-details py-2 d-flex">
          <span class="profile-name mr-2">{{ this.userData.name }}</span>
          <n-link no-ssr to="/CV" class="profile-action" title="CV Pagina">
            Bekijk mijn CV >
          </n-link>
        </div>
      </div>
      <div class="sidebar-items pt-1">
        <ul class="list-unlisted" style="padding-left: 0;">
          <li
            v-b-toggle.vakpagina
            class="sidebar-item d-flex"
            :class="[isHidden ? 'text-center' : '']"
            style="flex-direction: column"
            @click="isActive = !isActive"
          >
            <span class="sidebar-link p-3" style="cursor: pointer">
              <i class="fas fa-home"></i>
              <span v-if="!isHidden"
                >Vakdashboard
                <i
                  class="fas float-right"
                  :class="[isActive ? 'fa-caret-right' : 'fa-caret-down']"
                  @click="isActive = !isActive"
                >
                </i
              ></span>
            </span>
            <b-collapse
              id="vakpagina"
              accordion="vakpagina"
              role="tabpanel"
              style="width: 100%;"
            >
              <b-card-body class="p-0 pb-2">
                <ul class="list-unstyled">
                  <li class="sub-sidebar-item">
                    <n-link
                      to="/vak/bv"
                      title="BV"
                      class="sub-sidebar-link px-3 py-2"
                      ><i class="fas fa-circle green"></i>
                      <span v-if="!isHidden">BV</span></n-link
                    >
                  </li>

                  <li class="sub-sidebar-item">
                    <n-link
                      to="/vak/kua"
                      title="KUA"
                      class="sub-sidebar-link px-3 py-2"
                      ><i class="fas fa-circle yellow"></i>
                      <span v-if="!isHidden">KUA</span></n-link
                    >
                  </li>
                  <li class="sub-sidebar-item">
                    <n-link
                      to="/vak/ckv"
                      title="CKV"
                      class="sub-sidebar-link px-3 py-2"
                      ><i class="fas fa-circle purple"></i>
                      <span v-if="!isHidden">CKV</span></n-link
                    >
                  </li>
                  <li class="sub-sidebar-item">
                    <n-link
                      to="/vak/mu"
                      title="MU"
                      class="sub-sidebar-link px-3 py-2"
                      ><i class="fas fa-circle red"></i>
                      <span v-if="!isHidden">MU</span></n-link
                    >
                  </li>
                  <li class="sub-sidebar-item">
                    <n-link
                      to="/vak/dr"
                      title="DR"
                      class="sub-sidebar-link px-3 py-2"
                      ><i class="fas fa-circle blue"></i>
                      <span v-if="!isHidden">DR</span>
                    </n-link>
                  </li>
                </ul>
              </b-card-body>
            </b-collapse>
          </li>
          <li
            class="sidebar-item p-3 disabled"
            :class="[isHidden ? 'text-center' : '']"
          >
            <n-link
              no-ssr
              block
              to="#"
              title="What to do?"
              variant="info"
              class="sidebar-link"
            >
              <i class="fas fa-spinner"></i>
              <span v-if="!isHidden"> What to do?</span>
            </n-link>
          </li>
          <li
            class="sidebar-item disabled p-3"
            :class="[isHidden ? 'text-center' : '']"
          >
            <n-link
              no-ssr
              block
              to="#"
              title="Projecten"
              variant="info"
              class="sidebar-link"
            >
              <i class="fas fa-chalkboard"></i>
              <span v-if="!isHidden"> Projecten</span>
            </n-link>
          </li>
          <li
            class="sidebar-item disabled p-3"
            :class="[isHidden ? 'text-center' : '']"
          >
            <n-link
              no-ssr
              block
              to="#"
              title="Email"
              variant="info"
              class="sidebar-link"
            >
              <i class="fas fa-envelope"></i>
              <span v-if="!isHidden"> Email</span>
            </n-link>
          </li>
          <li class="sidebar-item p-3" :class="[isHidden ? 'text-center' : '']">
            <n-link
              no-ssr
              block
              to="/presentatiemap"
              title="Mijn Presentatiemap"
              variant="info"
              class="sidebar-link"
            >
              <i class="fas fa-briefcase"></i>
              <span v-if="!isHidden"> Mijn Presentatiemap</span>
            </n-link>
          </li>
          <li
            class="sidebar-item disabled p-3"
            :class="[isHidden ? 'text-center' : '']"
          >
            <n-link
              no-ssr
              block
              to="#"
              title="Begeleiding/mentor"
              variant="info"
              class="sidebar-link"
            >
              <i class="fas fa-user-secret"></i>
              <span v-if="!isHidden">Begeleiding/mentor</span>
            </n-link>
          </li>
          <li class="sidebar-item p-3" :class="[isHidden ? 'text-center' : '']">
            <n-link
              no-ssr
              block
              to="/settings"
              title="Instellingen"
              variant="info"
              class="sidebar-link"
            >
              <i class="fas fa-cog"></i>
              <span v-if="!isHidden">Instellingen</span>
            </n-link>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="footer pt-2"
      :class="[!isHidden ? 'pr-4' : 'justify-content-center']"
    >
      <div class="buttons text-center">
        <no-ssr>
          <n-link to="/login" class="button" title="Uitloggen">
            <i class="fas fa-power-off"></i>
          </n-link>
        </no-ssr>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  data() {
    return {
      isHidden: false,
      isActive: true,
      userData: ''
    }
  },
  mounted() {
    this.$root.$on('hide-sidebar', () => {
      if (!this.isHidden) {
        this.isHidden = true
      } else {
        this.isHidden = false
      }
    })
  },
  created() {
    this.$axios.get('/users/details').then(data => {
      this.userData = data.data
    })
  },
  methods: {
    toggleClass: function(event) {
      if (this.isActive) {
        this.isActive = true
      } else {
        this.isActive = false
      }
    }
  }
}
</script>
