<template>
  <div class="page-content">
    <div class="header mb-3 banner">
      <h1 class="m-0 p-2 text-white font-weight-bold text-uppercase">
        CV
      </h1>
    </div>
    <section class="container-fluid">
      <div class="row">
        <div class="col-sm-8 p-0 pb-3">
          <PresentationMap></PresentationMap>
        </div>
        <div class="col-sm-4 p-0">
          <Skill class="mb-3"></Skill>
          <contact :user="user"></contact>
        </div>
        <div class="col-sm-4 p-0">
          <ervaring></ervaring>
        </div>
        <div class="col-sm-4 p-0">
          <motivatie></motivatie>
        </div>
        <div class="col-sm-4 p-0">
          <interests></interests>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PresentationMap from '~/components/PresentationMap'
import Skill from '~/components/Skill'
import Contact from '~/components/Contact'
import Interests from '~/components/Interests'
import Motivatie from '~/components/Motivatie'
import Ervaring from '~/components/Ervaring'

export default {
  layout: 'public',
  components: {
    PresentationMap,
    Skill,
    Contact,
    Interests,
    Motivatie,
    Ervaring
  },
  data() {
    return {
      user: {
        name: '',
        phonenumber: '',
        avatar: 'https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif'
      }
    }
  },
  mounted() {
    this.$axios.get('/user/' + this.$route.params.profiel).then(data => {
      this.user = data.data
    })
    this.layout = 'public'
  }
}
</script>
