<template>
  <div class="parent-container d-flex">
    <div
      v-if="$nuxt.isOffline"
      class="alert alert-danger position-absolute"
      style="right: 1em; top: 1em; z-index: 99999999999999;"
      role="alert"
    >
      <i class="fas fa-exclamation-triangle"></i>
      Geen internet Connectie
    </div>
    <sidebar></sidebar>
    <div class="content">
      <navbar></navbar>
      <nuxt class="page-content"></nuxt>
    </div>
  </div>
</template>
<script>
import UserService from '@/services/UserService.js'
import Sidebar from '~/components/Navigation/Sidebar'
import Navbar from '~/components/Navigation/Navbar'

export default {
  middleware: 'authenticated',
  components: {
    Sidebar,
    Navbar
  },
  beforeMount() {
    UserService.setToken(this.$cookies.get('user').access_token)
  }
}
</script>

<style lang="scss" scoped>
html,
body,
#__nuxt,
#__layout,
.parent-container {
  min-height: 100% !important;
  height: 100%;
  overflow-y: hidden;
}
</style>
