<template>
  <div>
    <div
      v-if="$nuxt.isOffline"
      class="alert alert-danger position-absolute"
      style="right: 1em; top: 1em; z-index: 99999999999999;"
      role="alert"
    >
      <i class="fas fa-exclamation-triangle"></i>
      Geen internet Connectie
    </div>
    <nuxt />
  </div>
</template>
