<template>
  <div class="page-content ckv">
    <div class="header mb-3 vak-banner">
      <h1 class="m-0 p-2 text-white font-weight-bold text-uppercase">
        CKV
      </h1>
    </div>
    <section class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <PresentationMap></PresentationMap>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <assignments></assignments>
            <announcements></announcements>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <turn-in></turn-in>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <activities></activities>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PresentationMap from '~/components/PresentationMap'
import Assignments from '~/components/Assignments'
import Announcements from '~/components/Announcements'
import TurnIn from '~/components/TurnIn'
import Activities from '~/components/Activities'

export default {
  layout: 'afterLogin',
  components: {
    PresentationMap,
    Assignments,
    Announcements,
    TurnIn,
    Activities
  }
}
</script>
