<template>
  <div class="page-content">
    <div class="header mb-3 banner">
      <h1 class="m-0 p-2 text-white font-weight-bold text-uppercase">
        CV van <span>{{ this.$store.state.userData.name }}</span>
      </h1>
    </div>
    <section class="container-fluid">
      <div class="row">
        <div class="col-sm-8 p-0 pb-3">
          <PresentationMap></PresentationMap>
        </div>
        <div class="col-sm-4 p-0">
          <contact class="mb-3"></contact>
          <motivatie class="mb-3"></motivatie>
        </div>
        <div class="col-sm-4 p-0">
          <ervaring></ervaring>
        </div>
        <div class="col-sm-4 p-0">
          <Skills></Skills>
        </div>
        <div class="col-sm-4 p-0">
          <interests></interests>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PresentationMap from '~/components/PresentationMap'
import Skills from '~/components/Skill'
import Contact from '~/components/Contact'
import Interests from '~/components/Interests'
import Motivatie from '~/components/Motivatie'
import Ervaring from '~/components/Ervaring'

export default {
  layout: 'afterLogin',
  components: {
    PresentationMap,
    Contact,
    Interests,
    Motivatie,
    Ervaring,
    Skills
  }
}
</script>
