<template>
  <div class="page-content">
    <div class="header mb-3 banner">
      <h1 class="m-0 p-2 text-white font-weight-bold text-uppercase">
        Dashboard
      </h1>
    </div>
    <section class="container-fluid">
      <div class="row">
        <div class="col-8 p-0">
          <PresentationMap class="mb-2"></PresentationMap>
        </div>
        <div class="col-4 p-0 pb-3">
          <Announcements class="mb-3"></Announcements>
          <Assignments class="mb-2"></Assignments>
        </div>
        <div class="col-4 p-0">
          <Assessments></Assessments>
        </div>
        <div class="col-4 p-0">
          <Calendar class="mb-3"></Calendar>
          <Interests></Interests>
        </div>
        <div class="col-4 p-0">
          <Skills></Skills>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PresentationMap from '~/components/PresentationMap'
import Assessments from '~/components/Assessments'
import Assignments from '~/components/Assignments'
import Skills from '~/components/Skill'
import Interests from '~/components/Interests'
import Announcements from '~/components/Announcements'
import Calendar from '~/components/Calendar'

export default {
  layout: 'afterLogin',
  head() {
    return {
      title: 'Kunstfolio - Dashboard'
    }
  },
  components: {
    Assessments,
    PresentationMap,
    Assignments,
    Skills,
    Interests,
    Announcements,
    Calendar
  }
}
</script>
