<template>
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" @submit.prevent="handleSubmit">
        <span class="login100-form-title pb-5">
          <img
            src="~/assets/img/logo_def.png"
            class="mb-3"
            style="height: 5em;"
          />
          <h2><strong>Kunst</strong>folio</h2>
        </span>

        <div :class="{ error: errors.has('email') }">
          <div class="wrap-input100" :class="{ error: errors.has('email') }">
            <input
              v-model="email"
              v-validate="'required|email'"
              class="input100"
              :class="
                ({ 'is-invalid': submitted && !email }, applyValue(email))
              "
              type="text"
              name="email"
            />
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>
        </div>

        <div v-if="errors.has('email')" class="alert-message">
          {{
            errors
              .first('email')
              .charAt(0)
              .toUpperCase() + errors.first('email').slice(1)
          }}
        </div>
        <div :class="{ error: errors.has('password') }">
          <div
            class="wrap-input100 validate-input"
            data-validate="Vul wachtwoord in"
            :class="{ error: errors.has('password') }"
          >
            <span class="btn-show-pass">
              <i class="zmdi zmdi-eye"></i>
            </span>
            <input
              v-model="password"
              v-validate="'required'"
              class="input100"
              type="password"
              :class="
                ({ 'is-invalid': submitted && !password }, applyValue(password))
              "
              name="password"
            />
            <span class="focus-input100" data-placeholder="Wachtwoord"></span>
          </div>
          <div v-if="errors.has('password')" class="alert-message">
            Wachtwoord is verplicht.
          </div>
        </div>
        <p class="text-danger" v-if="this.$store.state.account.error">
          Ongeldig Email / Wachtwoord.
        </p>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
              Login
            </button>
          </div>
        </div>
        <b-spinner
          v-show="status.loggingIn"
          variant="primary"
          label="Spinning"
          style="margin-left: 45%;margin-top: 20px;"
        ></b-spinner>

        <div class="text-center pt-5">
          <span class="txt1">
            Account aanmaken?
            <br />
            <nuxt-link to="/register">Registreer</nuxt-link>
          </span>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
  head() {
    return {
      title: 'Kunstfolio - Inloggen'
    }
  },
  data() {
    return {
      email: '',
      password: '',
      submitted: false
    }
  },
  computed: {
    ...mapState('account', ['status'])
  },
  created() {
    // reset login status
    this.logout()
  },
  methods: {
    ...mapActions('account', ['login', 'logout']),
    handleSubmit(e) {
      this.submitted = true
      const { email, password } = this
      this.$validator.validate().then(valid => {
        if (valid) {
          if (email && password) {
            this.login({ email, password })
          }
        }
      })
    },
    applyValue(e) {
      return [e && e.length > 0 ? 'has-val' : '']
    }
  }
}
</script>
