<template>
  <div class="page-content">
    <div class="header mb-3 presmap-banner">
      <h1 class="m-0 p-2 text-white font-weight-bold text-uppercase">
        Presentatiemap
      </h1>
    </div>
    <section class="container-fluid">
      <div class="row">
        <preview></preview>
      </div>
      <div class="row">
        <beeldmateriaal></beeldmateriaal>
      </div>
    </section>
  </div>
</template>

<script>
import Preview from '~/components/Preview'
import Beeldmateriaal from '~/components/Beeldmateriaal'

export default {
  layout: 'afterLogin',
  head() {
    return {
      title: 'Kunstfolio - Presentatiemap'
    }
  },
  components: {
    Preview,
    Beeldmateriaal
  }
}
</script>
