<template>
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" @submit.prevent="handleSubmit">
        <span class="login100-form-title pb-3">
          <img
            src="~/assets/img/logo_def.png"
            class="mb-2"
            style="height: 5em;"
          />
          <h2><strong>Kunst</strong>folio</h2>
        </span>
        <div :class="{ error: errors.has('name') }">
          <div class="wrap-input100" :class="{ error: errors.has('name') }">
            <input
              v-model="user.name"
              v-validate="'required'"
              class="input100"
              :class="applyValue(user.name)"
              type="text"
              name="name"
            />
            <span
              class="focus-input100"
              data-placeholder="Naam (verplicht)"
            ></span>
          </div>
          <div v-if="errors.has('name')" class="alert-message">
            Naam is verplicht.
          </div>
        </div>

        <div :class="{ error: errors.has('address') }">
          <div class="wrap-input100" :class="{ error: errors.has('address') }">
            <input
              v-model="user.address"
              v-validate="'required'"
              class="input100"
              :class="applyValue(user.address)"
              type="text"
              name="address"
            />
            <span
              class="focus-input100"
              data-placeholder="Adres (verplicht)"
            ></span>
          </div>

          <div v-if="errors.has('address')" class="alert-message">
            Adres is verplicht.
          </div>
        </div>
        <div :class="{ error: errors.has('postalcode') }">
          <div
            class="wrap-input100"
            :class="{ error: errors.has('postalcode') }"
          >
            <input
              v-model="user.postalcode"
              v-validate="'required'"
              :class="applyValue(user.postalcode)"
              class="input100"
              type="text"
              name="postalcode"
            />
            <span
              class="focus-input100"
              data-placeholder="Postcode (verplicht)"
            ></span>
          </div>

          <div v-if="errors.has('postalcode')" class="alert-message">
            Postcode is verplicht.
          </div>
        </div>
        <div :class="{ error: errors.has('email') }">
          <div class="wrap-input100" :class="{ error: errors.has('email') }">
            <input
              v-model="user.email"
              v-validate="'required|email'"
              :class="applyValue(user.email)"
              class="input100"
              type="text"
              name="email"
            />
            <span
              class="focus-input100"
              data-placeholder="Email (verplicht)"
            ></span>
          </div>

          <div v-if="errors.has('email')" class="alert-message">
            {{
              errors
                .first('email')
                .charAt(0)
                .toUpperCase() + errors.first('email').slice(1)
            }}
          </div>

          <div :class="{ error: errors.has('password') }">
            <div
              class="wrap-input100 validate-input"
              data-validate="Enter password"
              :class="{ error: errors.has('password') }"
            >
              <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
              </span>
              <input
                v-model="user.password"
                v-validate="'required'"
                :class="applyValue(user.password)"
                class="input100"
                type="password"
                name="password"
              />
              <span
                class="focus-input100"
                data-placeholder="Wachtwoord (verplicht)"
              ></span>
            </div>
            <div v-if="errors.has('password')" class="alert-message">
              Wachtwoord is verplicht.
            </div>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
              Registreer
            </button>
          </div>
        </div>

        <div class="text-center pt-5">
          <span class="txt1">
            Heeft u al een account?
            <br />
            <nuxt-link to="/login">Log in</nuxt-link>
          </span>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
  head() {
    return {
      title: 'Kunstfolio - Registreren'
    }
  },
  data() {
    return {
      user: {
        name: '',
        address: '',
        postalcode: '',
        email: '',
        password: ''
      },
      submitted: false
    }
  },
  computed: {
    ...mapState('account', ['status'])
  },
  methods: {
    ...mapActions('account', ['register']),
    handleSubmit(e) {
      this.submitted = true
      this.$validator.validate().then(valid => {
        if (valid) {
          this.register(this.user)
        }
      })
    },
    applyValue(e) {
      return [e && e.length > 0 ? 'has-val' : '']
    }
  }
}
</script>
