<template>
  <div class="page-content">
    <div class="header mb-3 banner">
      <h1 class="m-0 p-2 text-white font-weight-bold text-uppercase">
        Instellingen
      </h1>
    </div>
    <section class="container-fluid pt-3">
      <div class="row">
        <div class="col-4 d-flex">
          <div class="profile-container pl-5">
            <div class="user-profile-image mx-auto">
              <a href="#" class="profile-image mx-auto">
                <img
                  id="profilepicture"
                  :src="formFields.avatar"
                  class="img-fluid rounded-circle profilepicture"
                />
              </a>
            </div>
            <div class="profile-details pl-4 pt-3">
              <form enctype="multipart/form-data">
                <div class="form-group">
                  <input
                    id="file"
                    v-on:change="setPhoto"
                    type="file"
                    class="form-control-file"
                  />
                  <label class="profile-upload" for="file">
                    <i class="fas fa-cloud-upload-alt"></i> Kies bestand
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-7">
          <div class="row">
            <h1 class="ml-3">{{ formFields.name }}</h1>
          </div>
          <form>
            <div class="form-group row">
              <label for="customSlug" class="col-sm-2 col-form-label">
                Custom URL
              </label>
              <div class="input-group col-sm-10">
                <div class="input-group-prepend">
                  <span id="inputGroupPrepend" class="input-group-text">
                    kunstfolio.tk/
                  </span>
                </div>
                <input
                  v-validate="'required'"
                  id="customSlug"
                  v-model="formFields.user_slug"
                  type="text"
                  class="form-control"
                  name="user_slug"
                />
              </div>
            </div>
            <span class="vee-error">{{ errors.first('user_slug') }}</span>

            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">
                Email
              </label>
              <div class="col-sm-10">
                <input
                  v-validate="'required'"
                  id="staticEmail"
                  v-model="formFields.email"
                  type="email"
                  class="form-control"
                  name="email"
                />
                <span class="vee-error">{{ errors.first('email') }}</span>
              </div>
            </div>
            <div class="form-group row">
              <label for="phonenumber" class="col-sm-2 col-form-label">
                Telefoon
              </label>
              <div class="col-sm-10">
                <input
                  pattern="[0-9]{10}$"
                  maxlength="10"
                  v-validate="'required'"
                  id="phonenumber"
                  v-model="formFields.phonenumber"
                  type="text"
                  class="form-control"
                  name="telefoonnummer"
                />
                <span class="vee-error">{{
                  errors.first('telefoonnummer')
                }}</span>
              </div>
            </div>
            <div class="form-group row">
              <label for="currentpassword" class="col-sm-4 col-form-label">
                Huidige Wachtwoord
              </label>
              <div class="col-sm-8">
                <input
                  id="currentpassword"
                  v-model="formPassword.current"
                  type="password"
                  class="form-control"
                />
              </div>
            </div>
            <span class="vee-error" v-if="errors.first('bevestiging')"
              >De bevestiging van het nieuwe wachtwoord is incorrect</span
            >
            <div class="form-group row">
              <label for="newpassword" class="col-sm-4 col-form-label">
                Nieuw wachtwoord
              </label>
              <div class="col-sm-8">
                <input
                  id="newpassword"
                  v-model="formPassword.new"
                  type="password"
                  class="form-control"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="repeatPassword" class="col-sm-4 col-form-label">
                Bevestig nieuw wachtwoord
              </label>
              <div class="col-sm-8">
                <input
                  v-validate="{ is: formPassword.new }"
                  id="repeatPassword"
                  v-model="formPassword.repeat"
                  type="password"
                  class="form-control"
                  name="bevestiging"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="inputAddress">Adres</label>
                <input
                  v-validate="'required'"
                  pattern="^[a-zA-Z/s]+$"
                  id="inputAddress"
                  v-model="formFields.address"
                  type="text"
                  class="form-control"
                  name="adres"
                />
                <span class="vee-error">{{ errors.first('adres') }}</span>
              </div>
              <div class="form-group col-sm-2">
                <label for="inputHuisnummer">Huisnummer</label>
                <input
                  v-validate="'required'"
                  pattern="^[0-9]+$"
                  id="inputHuisnummer"
                  v-model="formFields.housenumber"
                  type="text"
                  class="form-control"
                  name="huisnummer"
                />
              </div>
              <span class="vee-error">{{ errors.first('huisnummer') }}</span>
              <div class="form-group col-md-4">
                <label for="inputZip">Postcode</label>
                <input
                  v-validate="'required'"
                  id="inputZip"
                  v-model="formFields.postalcode"
                  type="text"
                  class="form-control"
                  name="postcode"
                />
                <span class="vee-error">{{ errors.first('postcode') }}</span>
              </div>
            </div>
            <button
              class="btn btn-primary submitbutton"
              :disabled="formPassword.new !== formPassword.repeat"
              @click="saveChanges"
            >
              Opslaan
            </button>
          </form>
        </div>
      </div>
      <div v-if="errormsg" class="mt-3 alert alert-danger" role="alert">
        <strong>Oops!</strong> Je hebt een foutief wachtwoord ingevuld!
      </div>
    </section>
  </div>
</template>

<script>
/* eslint-disable */
/* eslint-disable vue/valid-v-model */
export default {
  layout: 'afterLogin',
  data() {
    return {
      errormsg: false,
      formFields: {},
      formPassword: {},
      profilePicture: {}
    }
  },
  head() {
    return {
      title: 'Kunstfolio - Instellingen'
    }
  },

  created() {
    this.$axios.setHeader(
      'Authorization',
      'Bearer ' + this.$cookies.get('user').access_token
    )
    this.$axios.get('/users/details').then(data => {
      this.formFields = data.data
      console.log(data.data)
    })
  },
  methods: {
    saveChanges(evt) {
      this.errormsg = false

      evt.preventDefault()
      this.$axios.setHeader(
        'Authorization',
        'Bearer ' + this.$cookies.get('user').access_token
      )
      console.log(this.formFields)
      this.$axios.post('/users/update', this.formFields)
      if (
        this.formPassword.current &&
        this.formPassword.new &&
        this.formPassword.repeat
      ) {
        this.changePass(
          this.formPassword.current,
          this.formPassword.new,
          this.formPassword.repeat
        )
      }
      this.uploadProfilePicture()
    },
    uploadProfilePicture() {
      let formData = ''
      formData = new FormData()
      formData.append('profile_picture', this.profilePicture)
      formData.append('_method', 'POST')

      this.$axios.setHeader({
        Authorization: 'Bearer ' + this.$cookies.get('user').access_token,
        'Content-Type': 'multipart/form-data'
      })
      this.$axios.post('/users/profilepicture', formData)
      if (this.noUpload) {
        document.getElementById('nav-profilepicture').src = URL.createObjectURL(
          this.profilePicture
        )
        document.getElementById(
          'side-profilepicture'
        ).src = URL.createObjectURL(this.profilePicture)
      }
    },
    changePass(currentPass, newPass, repeatPass) {
      if (repeatPass !== newPass) {
        return 'de ingevoerde wachtwoorden zijn niet gelijk'
      }
      const passwordRequest = {
        currentPass: currentPass,
        newPass: newPass
      }
      this.$axios.post('/users/changepassword', passwordRequest).catch(err => {
        if (err.request.status === 401) {
          this.errormsg = true
        } else {
          this.errormsg = false
        }
      })
    },
    setPhoto: function(photo) {
      console.log(photo)
      this.profilePicture = photo.target.files[0]
      this.noUpload = URL.createObjectURL(photo.target.files[0])
      document.getElementById('profilepicture').src = this.noUpload
      console.log(this.noUpload)
    }
  }
}
</script>
